<section class="videos_area">
    <div class="container videos">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <?php
                    $page = $this->restaurant->getPage('about');
					echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
                ?>
            </div>
            
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right">
                <div class="address widget text-muted">
                   <?php $address = $this->restaurant->getAddress();
                    echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);?>
                </div>
                
                <div class="fb_sec widget">
                    <div class="facebook-likebox">								
                        <?php
                           $soc = $this->restaurant->getSocial();
                           echo $soc->getFacebookLikeBox();
                        ?>
                    </div>
                </div>	
            </div>
        </div>	
    </div>
</section>	

<br /><br />
<section class="sp_offer_area">
   <div class="container sp_offer">
      <div class="row">
         <?php
           // a test for bitbucket push 
            $specialOffers = $this->restaurant->getOffers();
            echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
         ?>
      </div>
      <br />
      <br />
      <br />
      <br />
   </div>		
</section>