<?php 
$album = $this->restaurant->getDefaultPhotoAlbum(); 
if (is_object($album) && $album->getPhotos()) {
    echo '<section class="slider_area">';
        echo '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">';
        echo '<ol class="carousel-indicators">';    
        $i = 0;
        foreach ($album->getPhotos()->getItems() as $photo) {
            echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class=active'></li>";
            $i++;
        }
        echo '</ol>';

        $i = 0;
        echo '<div class="carousel-inner" role="listbox">';
        foreach ($album->getPhotos()->getItems() as $photo) {
            $active = ($i == 0 ? "active" : "");
            echo "<div class='item $active'>";
                echo "<img src='{$this->baseUrl($photo->getImageUrl())}' alt='banner'>";
                echo '<div class="carousel-caption">';
                    echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
                    echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
                echo '</div>';
            echo '</div>';
            $i++;
        }
        echo '</div>'; ?>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>

<?php } ?>
      
<section class="sp_offer_area">
    <div class="container sp_offer">
        <div class="row">
            <h2 class="text-center julius-font">Special Offers</h2>
            <br />
            <?php
               $specialOffers = $this->restaurant->getOffers();
               echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
            ?>
        </div>
    </div>		
</section>		

<?php
    $page = $this->restaurant->getPage('home');
    if ($page->getTitle()) {
?>
    <section class="good_area">
        <div class="container good">
            <div class="row">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center">
                    <h1 class="julius-font"><i class="fa fa-quote-left"></i> <?php echo $page->getTitle();?> <i class="fa fa-quote-right"></i></h1>
                    <p><?php echo $page->getDescription();?></p>
                    <a href="<?php echo $this->restaurant->getUrl('about');?>" class="more">About Us</a>
                </div>
            </div>
        </div>		
    </section>
<?php 
    }
?>
<section class="health_area">
   <div class="container health">
      <div class="row our_menus">
         <h2 class="julius-font text-center">Our Menus</h2>
         <br />
         <?php
         $menu = $this->restaurant->getMenu();
         $categories = $menu->getNormalCategories();
         
         if (!empty($categories)) {
            $menu_limit = 0;
            foreach($categories->getItems() as $category) {
                if ( $menu_limit < 3 ) {
                $imageSrc = ($category->getImageId() ? $category->getImage()->getThumbnailUrl() : $this->baseUrl('/tr/themes/ch/theme1/img/fastfood.png'));
        ?>
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 single_menu">
                <div class="panel panel-info">
                   <div class="panel-heading">
                      <?=$category->getName();?>
                   </div>
                   <div class="panel-body">
                      <img src="<?=$imageSrc?>" alt=""/>
                      <p class="text-justify hidden-xs"><?=substr($category->getDescription(),0,200);?></p>
                      <?php
                         echo "<ul class='list-group'>";
                         $foodItemLimit = 0;
                         foreach($category->getFoodItems()->getItems() as $foodItem) {
                            $foodItemLimit += 1;
                            echo ( $foodItemLimit < 4 ? "<li class='list-group-item'>{$foodItem->getName()} - {$this->restaurant->getCurrencySymbol()}{$foodItem->getPrice()}</li>" : "" );
                         }
                         echo "</ul>";
                      ?> 
                      <a href="<?=$this->restaurant->getUrl('menu');?>" class="btn btn-default">See All Items</a>
                   </div>
                </div>
             </div>
         <?php
            } 
            $menu_limit++;
            }
           }else{
               echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no menu item published.');
           }
         ?>
      </div>
   </div>		
</section>

   <section class="times use-background-image">
      <?php
         if ( $this->restaurant->getTimes()->getTotal() ) {
      ?>
      <div class="opening-time col-md-6 col-md-offset-3">
         <h2 class="julius-font text-center"><i class="fa fa-clock-o"></i> <b>Opening Time</b></h2>
         <table class="table table-condensed no_border">
            <tr>
               <td>Day</td>
               <td>Lunch</td>
               <td>Dinner</td>
               <td>Delivery</td>
            </tr>
            <?php
               foreach ( $this->restaurant->getTimes()->getItems() as $time ) {
            ?>
            <tr>
               <td><?=($time->getDays() ? $time->getDays() : '')?></td>
               <td><?=($time->getLunchStart() ? $time->getLunchStart() : '')?> - 
               <?=($time->getLunchEnd() ? $time->getLunchEnd() : '')?></td>
               <td><?=($time->getDinerStart() ? $time->getDinerStart() : '')?> - 
               <?=($time->getDinerEnd() ? $time->getDinerEnd() : '')?>
               </td>
               <td><?=($time->getDeliveryStart() ? $time->getDeliveryStart() : '')?> - 
               <?=($time->getDeliveryEnd() ? $time->getDeliveryEnd() : '')?>
               </td>
            </tr>
            <?php } ?>
         </table>
      </div>
      <?php } ?>
      <div class="others-info col-md-6 col-md-offset-3 about_delivery">
         <h2 class="julius-font text-center"><i class="fa fa-eye"></i> <b>Other details</b></h2>
         <table class="table table-condensed no_border">
            <tr>
               <td>Takeaway Available?</td>
               <td><?=($this->restaurant->getAvailableTakeaway() ? 'Yes' : 'No')?></td>
            </tr>
            <tr>
               <td>Delivery Available?</td>
               <td><?=($this->restaurant->getAvailableDelivery() ? 'Yes' : 'No')?></td>
            </tr>
            <tr>
               <td>Delivery Radius:</td>
               <td><?=($this->restaurant->getAvailableDelivery() ? $this->restaurant->getAvailableDelivery() : 'N/A')?></td>
            </tr>
            <tr>
               <td>Eat in Available?</td>
               <td><?=($this->restaurant->getAvailableEatin() ? 'Yes' : 'No')?>
               <?=($this->restaurant->getNoOfSeats() ? ", banquet facilities for {$this->restaurant->getNoOfSeats()} people" : "")?></td>
            </tr>
            <tr>
               <td>Off-licence Available?</td>
               <td><?=($this->restaurant->getAvailableTakeaway() ? 'Yes' : 'No')?></td>
            </tr>
         </table>
      </div>
      <div class="clearfix"></div>
   </section>	


<section class="contact_area clearfix">
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 our_map">
      <?php
         $address = $this->restaurant->getAddress();
         echo $address->getGoogleMap(
            array(
               'width' => '100%',
               'height' => '600'
            )
         );
      ?>
   </div>
   
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 contact_info text-center">
      <div class="background-shade">
         <h1 class="julius-font">Contact Us</h1>                        
         <?php 
            $address = $this->restaurant->getAddress();  
            if ( $address->getCountry() ) {
               echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
            }else{
               echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
            }
         ?>
		 <?php
			if($this->restaurant->getPhoneReservation()) {
				echo "<h3><a href='tel:{$this->restaurant->getPhoneReservation()}'><i class='fa fa-phone'></i>{$this->restaurant->getPhoneReservation()}</a></h3>";
			}
		 ?>
		 <?php
			if($this->restaurant->getPhoneTakeaway()) {
				echo "<h3><a href='tel:{$this->restaurant->getPhoneTakeaway()}'><i class='fa fa-phone'></i>{$this->restaurant->getPhoneTakeaway()}</a></h3>";
			}
		 ?>
      </div>
   </div>
</section>