<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php echo $this->headTitle() ?>
    <?php echo $this->headMeta();?>
    <?php echo $this->headScript();?>
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl('favicon.ico');?>" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/slicknav.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/normalize.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
	<link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme1/style.css');?>">
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme1/responsive.css');?>">
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <?php echo $this->headLink() ?>
    </head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header class="header_area">
      <div class="container header">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 logo">
                    <div class='brand-name'><a href="<?=$this->restaurant->getUrl('home');?>">
                        <?=($this->restaurant->getLogoImageId() ? $this->restaurant->getLogo('', null) : $this->restaurant->getName());?>
                    </a></div>
                    <span class='brand-phone'>
                    <?php if ($this->restaurant->getPhoneTakeaway()) { ?>
                    <a href="tel:<?=$this->restaurant->getPhoneTakeaway();?>"><i class="fa fa-mobile-phone hidden-xs"></i> <?=$this->restaurant->getPhoneTakeaway();?></a>
                    <?php } elseif ($this->restaurant->getPhoneReservation()) { ?>
                    <a href="tel:<?=$this->restaurant->getPhoneReservation();?>"><i class="fa fa-mobile-phone hidden-xs"></i> <?=$this->restaurant->getPhoneReservation();?></a>
                    <?php } ?>
                    </span>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 mainmenu">
                    <ul id="nav">
                        <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>                        
                        <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a>
                        
                        <?php 
                        if ($this->restaurant->getShowPageReviews()) {
                            echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                        }
                        if ($this->restaurant->getShowPageVideos()) {
                            echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                        }
                        if ($this->restaurant->getShowPagePhotos()) {
                            echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                        }
                        if ($this->restaurant->getShowPageOffers()) {
                            echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                        }
                        if ($this->restaurant->getShowPageAbout()) {
                            echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                        }
                        ?>
                    </ul>
                </div>		
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-6 hidden-xs socials">
                    <ul>
                        <li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
   <?php echo $this->layout()->content; ?>
   
   
   <section class="footer_bottom col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <div class="footer_txt">
         <p class="pull-left">
			<?=$this->restaurant->getWebsitePoweredByText();?><br/>
			<small><?=$this->restaurant->getSubUnsubLink();?></small>
		</p>
         <p class="pull-right">Designed & Developed By 
            <a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
		</p>
      </div>
   </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/bootstrap.min.js')?>">
	</script><script src="<?php echo $this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js');?>"></script>
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/plugins.js')?>"></script>
    <script src="<?php echo $this->baseUrl('/tr/vendor/js/main.js')?>"></script>
	<script src="<?php echo $this->baseUrl('/tr/themes/ch/theme1/theme.js');?>"></script>
    </body>
</html>
