<section class="review_area">
    <div class="container review">        
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <?php
                    $page = $this->restaurant->getPage('reviews');
                    echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
                ?>
                <div class="">
                <?php	
                    $reviews = $this->reviews;
                    if ( !$reviews->getTotal() ) {
                     echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
                    }else{
                        foreach ( $reviews->getItems() as $review ) {
                            echo '<div class="sing_rev" itemscope itemtype="http://schema.org/Review">';
                                echo "<span itemprop='itemReviewed' itemscope itemtype='http://schema.org/Restaurant'>";
                                echo "<span itemprop='name'  content='{$this->restaurant->getName()}'></span>";
                                echo "</span>";
                                echo "<h4 class='text-muted'>";
                                echo "<span class='rvw_name'>";
                                    echo "<b><span itemprop='author' itemscope itemtype='http://schema.org/Person'>";
                                    echo "<span itemprop='name'>{$review->getCustomer()->getName()}</span>";
                                    echo "</span></b>";
                                echo "</span><small> On {$review->getTs('d F Y')}</small>";
                                echo "</h4>";
                                
                                echo "<h6>";                            
                                echo "<span class='stars'>";
                                    $count_review = $review->getRating();
                                    for($i=1; $i <= 5; $i++){
                                        $classes = "fa fa-star-o";
                                        if($i <= $count_review) {
                                            $classes = "fa fa-star";
                                        }
                                        echo "<i class='$classes'></i>";
                                    }
                                echo "</span>";
                                
                                echo "<span itemprop='reviewRating' itemscope itemtype='http://schema.org/Rating'>";
                                echo "&ensp;<span itemprop='ratingValue'>{$review->getRating()}</span> ";
                                echo "out of <span itemprop='bestRating'>5</span>";
                                echo "</span> ";
                                echo "</h6>";
                                echo "<p class='text-muted rvw_name'>{$review->getText()}</p>";
                            echo "</div>";
                        }
                                                
                        echo $this->restaurant->getThemeViewHelpers()->pagination($reviews);
                    }
                ?>                   
                    
                    <div class="give_rev">
                        <?php 
                            $rf = $this->reviewForm($this->restaurant);
                            echo $rf->getHtml();
                        ?>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right">
                <div class="address widget text-muted">                    
                <?php $address = $this->restaurant->getAddress(); echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);?>
                </div>
                
                <div class="fb_sec widget">
                    <div class="facebook-likebox">								
                     <?php
                        $soc = $this->restaurant->getSocial();
                        echo $soc->getFacebookLikeBox();
                     ?>
                    </div>
                </div>	
            </div>
        </div>	
    </div>
</section>	


<section class="sp_offer_area">
   <div class="container sp_offer">
      <div class="row">
         <?php
            $specialOffers = $this->restaurant->getOffers();
            echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
         ?>
      </div>
      <br />
      <br />
      <br />
      <br />
   </div>		
</section>
