<section class="videos_area">
   <div class="container videos">
      <div class="row">
         <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <?php
               $videoPlayer = null;
               $videos = $this->restaurant->getVideos();
               $page = $this->restaurant->getPage('videos');
			   echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
            ?>
			 
            <div class="clearfix">                    
               <?php 
                  if ( !$videos->getTotal() ) {
                     echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
                  }else{
                  foreach($videos->getItems() as $video) {
                    echo '<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sing_vid" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
                    echo "<h5 itemprop='name'>{$video->getTitle()}</h5>";
                    $videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
                    echo "<a href='$videoUrl' >{$video->getThumbnail()}</a>";
                    echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
                    echo "<span itemprop='description'/>{$video->getDescription()}</span>";
                    echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
                    echo '</div>';
                    
                    if (isset($_GET['video_id']) && $video->getId() == $_GET['video_id']) {
                        $videoPlayer = $video->getYoutubePlayer(array('width'=> '700px'));
                    }
                  } 
                  }
               ?>                                           
            </div>
            
            <div class=''>
                <?php echo $videoPlayer; ?>
            </div>
         </div>
            
         <div class="col-lg-3 col-md-3 hidden-sm hidden-xs  text-right">
            <div class="address widget text-muted">
               <?php $address = $this->restaurant->getAddress();
               echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);?>
            </div>
             
            <div class="fb_sec widget">
               <div class="facebook-likebox">								
                  <?php
                     $soc = $this->restaurant->getSocial();
                     echo $soc->getFacebookLikeBox();
                  ?>
               </div>
            </div>	
         </div>
        </div>	
    </div>
</section>	

<br /><br />
<section class="sp_offer_area">
   <div class="container sp_offer">
      <div class="row">
         <?php
            $specialOffers = $this->restaurant->getOffers();
            echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
         ?>
      </div>
   </div>		
</section>
