header.header_area,
.footer_bottom,
div.menus div.panel div.panel-heading {
  background: none repeat scroll 0 0 #b8860b;
}
header.header_area {
  border-bottom: 3px solid #ffffff;
}
div.logo,
div.logo a,
div.header div.logo h4 small,
div.mainmenu ul#nav li a,
div.socials ul li a,
div.single_menu div.panel div.panel-heading,
div.single_menu div.panel div.panel-body a.btn:hover,
.footer_area div.col-md-7 p.text-center,
.footer_area div.col-md-7 table,
.footer_area div.col-md-5 p.text-center,
.footer_area div.col-md-5 table,
div.footer_txt p,
div.menus div.panel h4 a {
  color: #ffffff;
}
div.sng_off p.ttl b {
  border-bottom: 1px solid #b8860b;
}
a.more:hover {
  background: none repeat scroll 0 0 #b8860b;
}
div.single_menu div.panel,
div.menus div.panel-default {
  border-color: #b8860b;
}
div.single_menu div.panel div.panel-heading {
  background: none repeat scroll 0 0 #b8860b;
  border-color: #b8860b;
}
div.single_menu div.panel div.panel-body a.btn:hover {
  background: none repeat scroll 0 0 #b8860b;
  border-color: #b8860b;
}
section.contact_area {
  border-bottom: 4px solid #b8860b;
  border-top: 4px solid #b8860b;
}
div.contact_info h2 {
  border-bottom: 1px dashed #b8860b;
  color: #b8860b;
}
.footer_area {
  background: none repeat scroll 0 0 #b8860b;
}
.widget h4 {
  border-bottom: 1px solid #b8860b;
}
