div.menu {
    background: @background_color none repeat scroll 0 0;
}
div.single-featured p.title, div.menu-details span p.title, div.menu-details p.price, div.footer-bottom p strong {
    color: @background_color;
}
div.slogan div.single-service a.btn, div.single-featured a.readmore {
    background: @background_color none repeat scroll 0 0;
}
div.slogan div.single-service a.btn {
    border: medium none;
}
div.single-footer h3 {
    color: @background_color;
}