div.menu {
  background: #f2e394 none repeat scroll 0 0;
}
div.single-featured p.title,
div.menu-details span p.title,
div.menu-details p.price,
div.footer-bottom p strong {
  color: #f2e394;
}
div.slogan div.single-service a.btn,
div.single-featured a.readmore {
  background: #f2e394 none repeat scroll 0 0;
}
div.menu ul#nav li a, div.slogan div.single-service a.btn {
  color: #333333;
}
div.slogan div.single-service a.btn {
  border: medium none;
}
div.single-footer h3 {
  color: #f2e394;
}
