.footer_area_top{
   border-top: 5px solid @oi_font_color;
}

div.cont_us_hm p.rht span, .widget h4, .theme_color, div.sp_offer div.row p.sp_hed i.fa, div.sp_offer div.row p.sp_hed span {
    color: @oi_font_color;
}

.widget h4, header.header_area{
   border-bottom: 1px solid @oi_font_color;
}

.footer_area_bottom {
   border-top: 1px solid @oi_font_color;
}

.div.sng_off_out img, div.sp_offer div.row p.sp_hed, div.sp_offer div.row p.sp_hed i.fa{
   border: 1px solid @oi_font_color;
}

ul.socials li a {
    border: 2px solid @oi_font_color;
}

header.header_area, .footer_area_top, .footer_area_bottom {
   background: none repeat scroll 0 0 @background_color;
}

span.phn_lg, a.phone-number, div.logo a, div.socials ul li a, div.cont_us_hm p.rht, div.cont_us_hm div span, div.cont_us_hm p.pull-left, ul.socials li a, div.mainmenu ul#nav li a, div.footer_top div.col-md-3 p, div.footer_bottomo p {
   color: @font_color;
}

div.sp_offer div.row p.sp_hed {
  border: 1px solid @background_color;
}

div.sp_offer div.row p.sp_hed i.fa {
  border: 1px solid @background_color;
  color: @background_color;
}

div.sp_offer div.row p.sp_hed span {
  color: @background_color;
}

div.sng_off_out img {
  border: 1px solid @background_color;
}

.footer_area_top {
  background: none repeat scroll 0 0 @background_color;
}

.footer_area_bottom {
  background: none repeat scroll 0 0 @background_color;
}

div.menus_acc div.panel, div.classic-categories div.panel {
    border: 1px solid @background_color;
}
div.menus_acc div.panel div.panel-heading, div.classic-categories div.panel-heading {
    background: none repeat scroll 0 0 @background_color;
    color: @font_color;
}

div.sng_off p.ttl b {
  border-bottom: 1px solid @background_color;
}

a.more:hover {
  background: none repeat scroll 0 0 @background_color;
}

div.single_menu div.panel{
   border-color: @background_color;
}

div.single_menu div.panel div.panel-heading{
   background: none repeat scroll 0 0 @background_color;
   border-color: @background_color;
}

div.single_menu div.panel div.panel-body a.btn:hover{
   background: none repeat scroll 0 0 @background_color;
   border-color: @background_color;
}

section.contact_area {
  border-bottom: 4px solid @background_color;
  border-top: 4px solid @background_color;
}

div.contact_info h2 {
  border-bottom: 1px dashed @background_color;
  color: @background_color;
}

.footer_area {
  background: none repeat scroll 0 0 @background_color;
}

div.footer_top div.col-md-3 p.ttl, div.footer_bottomo p a{
   color: @oi_font_color;
}

.widget h4 {
  border-bottom: 1px solid @background_color;
}