.footer_area_top {
  border-top: 5px solid #555555;
}
div.cont_us_hm p.rht span,
.widget h4,
.theme_color,
div.sp_offer div.row p.sp_hed i.fa,
div.sp_offer div.row p.sp_hed span {
  color: #555555;
}
.widget h4,
header.header_area {
  border-bottom: 1px solid #555555;
}
.footer_area_bottom {
  border-top: 1px solid #555555;
}
.div.sng_off_out img,
div.sp_offer div.row p.sp_hed,
div.sp_offer div.row p.sp_hed i.fa {
  border: 1px solid #555555;
}
ul.socials li a {
  border: 2px solid #555555;
}
header.header_area,
.footer_area_top,
.footer_area_bottom {
  background: none repeat scroll 0 0 #00b796;
}
span.phn_lg,
a.phone-number,
div.logo a,
div.socials ul li a,
div.cont_us_hm p.rht,
div.cont_us_hm div span,
div.cont_us_hm p.pull-left,
ul.socials li a,
div.mainmenu ul#nav li a,
div.footer_top div.col-md-3 p,
div.footer_bottomo p {
  color: #ffffff;
}
div.sp_offer div.row p.sp_hed {
  border: 1px solid #00b796;
}
div.sp_offer div.row p.sp_hed i.fa {
  border: 1px solid #00b796;
  color: #00b796;
}
div.sp_offer div.row p.sp_hed span {
  color: #00b796;
}
div.sng_off_out img {
  border: 1px solid #00b796;
}
.footer_area_top {
  background: none repeat scroll 0 0 #00b796;
}
.footer_area_bottom {
  background: none repeat scroll 0 0 #00b796;
}
div.menus_acc div.panel,
div.classic-categories div.panel {
  border: 1px solid #00b796;
}
div.menus_acc div.panel div.panel-heading,
div.classic-categories div.panel-heading {
  background: none repeat scroll 0 0 #00b796;
  color: #ffffff;
}
div.sng_off p.ttl b {
  border-bottom: 1px solid #00b796;
}
a.more:hover {
  background: none repeat scroll 0 0 #00b796;
}
div.single_menu div.panel {
  border-color: #00b796;
}
div.single_menu div.panel div.panel-heading {
  background: none repeat scroll 0 0 #00b796;
  border-color: #00b796;
}
div.single_menu div.panel div.panel-body a.btn:hover {
  background: none repeat scroll 0 0 #00b796;
  border-color: #00b796;
}
section.contact_area {
  border-bottom: 4px solid #00b796;
  border-top: 4px solid #00b796;
}
div.contact_info h2 {
  border-bottom: 1px dashed #00b796;
  color: #00b796;
}
.footer_area {
  background: none repeat scroll 0 0 #00b796;
}
div.footer_top div.col-md-3 p.ttl,
div.footer_bottomo p a {
  color: #555555;
}
.widget h4 {
  border-bottom: 1px solid #00b796;
}
