<?php 
$album = $this->restaurant->getDefaultPhotoAlbum(); 
if ($album instanceof \Ezy\Album && $album->getPhotos()) { ?>
    <div class="slider-area">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <?php
        echo '<ol class="carousel-indicators">';
        $i = 0;
        foreach ($album->getPhotos()->getItems() as $photo) {
            echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class='active'></li>";
            $i++;
        }
        echo '</ol>';

        $i = 0;
        echo '<div class="carousel-inner" role="listbox">';
        foreach ($album->getPhotos()->getItems() as $photo) {
            $active = ($i == 0 ? "active" : "");
            echo "<div class='item $active'>";
                echo "<img src='{$this->baseUrl($photo->getImageUrl())}' alt='banner'>";
                echo '<div class="carousel-caption">';
                    echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
                    echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
                echo '</div>';
            echo '</div>';
            $i++;
        }
        echo '</div>'; ?>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
<?php } ?>
    <?php include($this->baseUrl('./themes/ch/theme11/nav-menu.phtml'));?>
    
    <div class="right-content col-md-8">
       <?php include($this->baseUrl('./themes/ch/theme11/nav-menu2.phtml'));?>
        
        <div class="post-content clearfix">
            <img class="pull-left" src="<?=$this->baseUrl('/tr/themes/ch/theme11/img/welcome_img.png')?>" alt="" />
            <?php $page = $this->restaurant->getPage('home'); ?>
            <p class="title"><?=$page->getTitle();?></p>
            <?=$page->getDescription();?>
        </div>
        
        <div class="special-offer clearfix">
            <img class="pull-left" src="<?=$this->baseUrl('/tr/themes/ch/theme11/img/sunday_special.png')?>" alt="" />
        </div>
        
        <div class="timing-info">
			<div class="col-md-6 col-sm-6 opening-info">
				<div class="inner">
					<p class="ttl"><b>Open 7 days a week</b></p>
					<p class="des small open">
						<span>Sun to Thur:  12noon - 2:30pm <br />
						&ensp; &ensp; &ensp; &ensp; &ensp; 6pm - 11pm.</span>
						<br />
						<span>Fri to Sat:  12noon - 2:30pm <br />&ensp; &ensp; &ensp; &ensp; &ensp; 6pm - midnight.</span>
					</p>
				</div>
			</div>
			
			<div class="col-md-6 col-sm-6 contact-info">
				<div class="inner">
					<p class="ttl"><b>Free Home Delivery</b></p>
					<p class="des small open">
						<span>on orders over £15</span>
						<span>Tel: 01932 565221/ 560906</span>
					</p>
				</div>
			</div>
		</div>
    </div>		