<?php $categories = $this->restaurant->getMenu()->getCategories(); ?>
<?php include($this->baseUrl('./themes/monir/chertsey/nav-menu.phtml'));?>

<div class="right-content col-md-8">
    <?php include($this->baseUrl('./themes/monir/chertsey/nav-menu2.phtml'));?>
    
    <div class="menus-details">
        <?php
            $menu = $this->restaurant->getMenu();
            $id = 0;
            $categories = $menu->getNormalCategories();
            $spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
            $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
            if ($categories->getItems()) {
               foreach ( $categories->getItems() as $category ) {
               $id++;
			   
         ?>
        <div class="single-item" id="<?=$category->getName();?>">
            <div class="image">
                <?php 
                    if ($category->getImage()) {
                        $categoryImageUrl = $category->getImage()->getThumbnailUrl();
                        echo "<img class='pull-left' src='$categoryImageUrl' alt='Category image' title='{$category->getName()}'/>";
                    }
                ?>
				<h3 class="title" itemprop="name"><?=$category->getName()?></h3>
            </div>
            <div class="others">
                <p class="description" itemprop='description'>
                <?php
                   if ( $category->getDescription() ) {
                      echo "{$category->getDescription()}";
                   }
                ?>
                </p>
            </div>
            
			
            <ul class="list-group">
                <p class="item-title">
					<span class="pull-left">Item Name</span>
					<span class="pull-right">Price</span>
				</p>
				<p class="clearfix" style="margin:0"></p>
				<?php
                   $currency = $this->restaurant->getCurrencySymbol();
                   foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
                ?>
                <li class="list-group-item" itemscope itemtype="http://schema.org/Product">
                   <meta itemprop="brand" content="<?=$category->getName()?>" />
                   <div>
				   <span itemprop="name"><?=$foodItem->getName()?></span>
                   <span class="pull-right item-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                      <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
                      <?=$currency?><span itemprop="price"><?=$foodItem->getPrice()?></span>
                      <?=$recommendButton->printButton($foodItem)?>
                   </span>
                   </div>
                   <div class='text-info'>
                   <span><?=$spiceLevel->printImage($foodItem)?></span>
                   <?php
                      if ($foodItem->getDescription()) {
                         echo "<span itemprop='description'>{$foodItem->getDescription()}</span>";
                      }
                   ?>
                   </div>
                </li>
                <?php }	?>
            </ul>
        </div>
        <?php } }else{
            echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
            }
        ?>
    </div>

    <div class="menus-details">
      <?php
      $categories = $menu->getClassicCategories();
      if ($categories->getItems()) {
      $content = '';
      foreach($categories->getItems() as $category) { ?>
      <div class="single-item" id="<?=$category->getName();?>">
            <div class="image">
              <?php 
                    if ($category->getImage()) {
                        $categoryImageUrl = $category->getImage()->getThumbnailUrl();
                        echo "<img src='$categoryImageUrl' alt='Category image' title='{$category->getName()}'/>";
                    }
                ?>
            </div>
            <div class="others">
                <h3 class="title"><?=$category->getName();?></h3>
                <p class="description" itemprop='description'>
                    <?=($category->getDescription() ? $category->getDescription() : "");?>
                </p>
                <div class="clearfix">&ensp;</div>
                <?php
                    $content .= "<table class='table table-bordered '>";
                    $content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
                    if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
                    if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
                    if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
                    if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
                    if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
                    if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
                    if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
                    if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
                    $content .= "</tr></thead>";
                    $content .= "<tbody>";

                    foreach($category->getFoodItems()->getItems() as $item) {
                        $content .= "<tr class=''>";
                        //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
                        $content .= "<td>{$item->getName()}&ensp;{$spiceLevel->printImage($item)} <br/><p class='text-info'>{$item->getDescription()}</p></td>";
                        $content .= "<td><span class=' item-price'>{$currency}{$item->getPrice()}</span></td>";

                        $content .= ($category->getShowChickenLambTikkaPrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPriceChickenLambTikka()}</span></td>" : "");
                        $content .= ($category->getShowLambPrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPriceLamb()}</span></td>" : "");
                        $content .= ($category->getShowBeefPrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPriceBeef()}</span></td>" : "");
                        $content .= ($category->getShowDuckPrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPriceDuck()}</span></td>" : "");
                        $content .= ($category->getShowPrawnPrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPricePrawn()}</span></td>" : "");
                        $content .= ($category->getShowKingPrawnPrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPriceKingPrawn()}</span></td>" : "");
                        $content .= ($category->getShowVegetablePrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPriceVegetable()}</span></td>" : "");
                        $content .= ($category->getShowMixedPrice()
                        ?  "<td><span class=' item-price'>{$currency}{$item->getPriceMixed()}</span></td>" : "");
                        $content .= "</tr>";
                    }

                    $content .= "</tbody></table>";
                    echo $content;
                ?>
            </div>
      </div>
   <?php } ?>                    
   <?php } ?>
   </div>
</div>