html, body, div.timing-info div.opening-info div.inner, div.timing-info div.contact-info div.inner{
	background: linear-gradient(to bottom, @background_color 0%, #000000 100%) repeat scroll 0 0;
}
.download-menu a{
	background: @background_color;
}
.bottom ul li{
	background: @dark_background_color;
}
.bottom ul li{
	background: @dark_background_color;
}
.bottom ul li a:hover{
	background: @background_color;
}
div.right-content div.top ul#nav{
	background: @background_color;
}
div.timing-info div.opening-info div.inner p.open span, div.timing-info div.contact-info div.inner p.open span, div.reviews-area div.single-review, div.videos-area div.single-video h4 {
	color: @font_color;
}
div.developer-info p a{
	text-decoration: underline;
	color: @font_color;
	font-style: italic;
}
div.menus-details div.single-item{
	border-bottom: 1px solid @background_color;
}
div.reviews-area div.single-review{
	border-bottom: 1px solid @font_color;
}
div.photos-area div.single-photo a, div.offers-area div.single-offer p.title, div.offers-area div.single-offer li span {
  color: @font_color !important;
}
div.offers-area div.single-offer div.inner{
	border: 1px solid @font_color;
}