<div class="header-area use-background-image">
   <div class="background-shape">
      <div class="container header">
         <div class="row">
            <div class="col-md-4 logo">
               <h1><?=( $this->restaurant->getName() )?></h1>
               <p class="color-fff"><i class="fa fa-phone"></i> <?=( $this->restaurant->getPhoneTakeaway() ? $this->restaurant->getPhoneTakeaway() : 'Your Number' )?></p>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="navwrap" class="menubar">
   <ul id="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#menus">Menu</a></li>
      <li><a href="#reservation">About Us</a></li>
      <li><a href="#hours">Hours</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#review">Review</a></li>
   </ul>
</div>

<div id="reservation" class="reservation-area">
   <div class="container reservation">
      <div class="row">
         <div class="col-md-10 col-md-offset-1 text-center padding-50-0">
            <h2 class="padding-0-0-25 margin-0"><?=( $this->restaurant->getSlogan() ? $this->restaurant->getSlogan() : 'Your slogan here')?></h2>
            <p class="line-height-30">
               <?=( $this->restaurant->getDescription() ? $this->restaurant->getDescription() : $this->restaurant->getThemeViewHelpers()->alert('No published details available.') )?>
            </p>
         </div>
      </div>
   </div>		
</div>		  

<div id="hours" class="section hours padding-50-0">
   <h2 class="text-center padding-0-0-25">Hours</h2>
   <div class="col-md-5 about_delivery">
      <p class="text-center"><i class="fa fa-eye"></i> <b>Other details</b></p>
      <table class="table table-condensed">
         <tr>
            <th>Takeaway Available?</th>
            <td><?=($this->restaurant->getAvailableTakeaway() ? 'Yes' : 'No')?></td>
         </tr>
         <tr>
            <th>Delivery Available?</th>
            <td><?=($this->restaurant->getAvailableDelivery() ? 'Yes' : 'No')?></td>
         </tr>
         <tr>
            <th>Delivery Radius:</th>
            <td><?=($this->restaurant->getAvailableDelivery() ? $this->restaurant->getAvailableDelivery() : 'N/A')?></td>
         </tr>
         <tr>
            <th>Eat in Available?</th>
            <td><?=($this->restaurant->getAvailableEatin() ? 'Yes' : 'No')?>
            <?=($this->restaurant->getNoOfSeats() ? ", banquet facilities for {$this->restaurant->getNoOfSeats()} people" : "")?></td>
         </tr>
         <tr>
            <th>Off-licence Available?</th>
            <td><?=($this->restaurant->getAvailableTakeaway() ? 'Yes' : 'No')?></td>
         </tr>
      </table>
   </div>
   
   <div class="col-md-7 opening-time">
      <p class="text-center"><i class="fa fa-clock-o"></i> <b>Opening Time</b></p>
      <table class="table table-condensed">
         <tr>
            <th>Day</th>
            <th>Lunch</th>
            <th>Dinner</th>
            <th>Delivery</th>
         </tr>
         <?php
            if ( $this->restaurant->getTimes()->getTotal() ) {
            foreach ( $this->restaurant->getTimes()->getItems() as $time ) {
         ?>
         <tr>
            <td><?=($time->getDays() ? $time->getDays() : 'N/A')?></td>
            <td><?=($time->getLunchStart() ? $time->getLunchStart() : 'N/A')?> - 
            <?=($time->getLunchEnd() ? $time->getLunchEnd() : 'N/A')?></td>
            <td><?=($time->getDinerStart() ? $time->getDinerStart() : 'N/A')?> - 
            <?=($time->getDinerEnd() ? $time->getDinerEnd() : 'N/A')?>
            </td>
            <td><?=($time->getDeliveryStart() ? $time->getDeliveryStart() : 'N/A')?> - 
            <?=($time->getDeliveryEnd() ? $time->getDeliveryEnd() : 'N/A')?>
            </td>
         </tr>
         <?php } }else{ ?>
         <tr>
         	<td colspan="4"><?=$this->restaurant->getThemeViewHelpers()->alert('No published time available.')?></td>
         </tr>
         <?php } ?>
      </table>
   </div>
   <div class="clearfix"></div>
   <hr />  
</div>


<div id="menus" class="menus-area use-background-image padding-50-0">
   <div class="container menus">
      <div class="row">
         <div class="text-center padding-50-0">
            <h2 class="color-fff padding-0-0-25 margin-0">Menus</h2>
            <div class="menu color-fff padding-200-0">
               <h3>
               <?php
                  $categories = $this->restaurant->getMenu()->getNormalCategories();
                  if ( !empty( $categories ) ) {
                  foreach ( $categories->getItems() as $category ) {
                     echo "<a class='color-fff' href='{$this->restaurant->getUrl('menu')}'>{$category->getName()}</a>";
                  }
                  }else{
                     echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
                  }
               ?>
               </h3>
            </div>
         </div>
      </div>
   </div>		
</div>	

<div id="contact" class="contact-area use-background-image padding-50-0">
   <div class="container contact">
      <div class="row">
         <div class="text-center padding-50-0">
            <h2 class="padding-0-0-25 margin-0">Contact Info</h2>
            <?php
               $address = $this->restaurant->getAddress();
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($address);
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alertInfo('Sorry no address provided.');
               }
            ?>
         </div>
      </div>
   </div>		
</div>		

<div id="gallery" class="gallery-area padding-0-0-50">
   <div class="container gallery">
      <div class="row">
         <div class="text-center padding-50-0">
            <h2 class="padding-0-0-50 margin-0">Gallery</h2>
            <div class="image-column clearfix">
               <?php
                  $album = $this->restaurant->getDefaultPhotoAlbum();
                  $photos = $album->getPhotos();
                  if ( $album->getPhotos() ) {
                     foreach ( $photos->getItems() as $photo ) {
                     $imgRandomSize = rand(180, 250);
               ?>
               <a class="fancybox" rel="group" href="<?=$photo->getImageUrl()?>" title="<?=$photo->getCaption()?>"><img height="" width="" class="" src="<?=$photo->getImageUrl()?>" alt="<?=$photo->getCaption()?>" /></a>
               <?php } }else{ 
                  echo $this->restaurant->getThemeViewHelpers()->alert('No default album\'s image found.');
                  }
               ?>
            </div>   
         </div>
      </div>
   </div>		
</div>	

<div id="review" class="review-area padding-50-0">
   <div class="container review">
      <div class="row">
         <div class="text-center padding-0-0-50">
            <h2 class="padding-0-0-25 margin-0">Reviews</h2>
            <?php
               $reviews = $this->restaurant->getReviews();
               if ( !$reviews->getTotal() ) {
                  echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published review found.');
               }else{
                  foreach ( $reviews->getItems() as $review ) {
            ?>
            <div class="single col-md-4 col-sm-6" itemscope itemtype="http://schema.org/Review">
               <span itemprop='itemReviewed' itemscope itemtype='http://schema.org/Restaurant'>
                  <span itemprop='name' content='<?=$this->restaurant->getName()?>'></span>
               </span>
               <span itemprop='author' itemscope itemtype='http://schema.org/Person'>
                  <h3 class='reviewer' itemprop='name'><?=$review->getCustomer()->getName()?></h3>
               </span>
               <p class="review margin-25-0 line-height-23">
                  <?=$review->getText()?>
               </p>
               <span itemprop='reviewRating' itemscope itemtype='http://schema.org/Rating'>
                  <span itemprop='ratingValue'><?=$review->getRating()?></span>
                  out of <span itemprop='bestRating'>5</span>
               </span>
               <p class="review-time">
                  <span class="date"><?=$review->getTs('d')?></span>
                  <span class="date"><img src="<?=$this->baseUrl('/tr/themes/ch/theme3/img/slash.png')?>" alt="" /></span>
                  <span class="date"><?=$review->getTs('F')?></span>
               </p>
            </div>
            <?php } } ?>
			<div class="col-md-12 view-all">
				<a href="<?=$this->restaurant->getUrl('reviews')?>" class="text-center text-uppercase btn btn-danger">view all</a>
			</div>
         </div>
      </div>
   </div>		
</div>	

<div class="social-area padding-50-0">
   <div class="container social">
      <div class="row">
         <div class="padding-0-0-25">
            <h2 class="padding-0-0-50 margin-0 text-center color-fff">Social</h2>
            <ul class="socials list-unstyled text-center">
            	<li><a class="color-fff" href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
            	<li><a class="color-fff" href="/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
            	<li><a class="color-fff" href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i> <span>Google Plus</span></a></li>
            </ul>
         </div>
      </div>
   </div>		
</div>	

<a href="#" id="scroll"><i class="fa fa-angle-up text-center color-fff"></i></a>