<div id="navwrap" class="menubar">
   <ul id="nav">
      <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#menus">Menu</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#reservation">About Us</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#hours">Hours</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#contact">Contact</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#gallery">Gallery</a></li>
      <li><a href="<?=$this->restaurant->getUrl('home')?>#review">Review</a></li>
   </ul>
</div>

<div class="menus-area use-background-image padding-50-0">
   <div class="container menus-page">
      <div class="row">
         <div class="text-center">
            <div class="menu color-fff">
               <?php
                  $categories = $this->restaurant->getMenu()->getNormalCategories();
                  $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
                  if ( !empty( $categories ) ) {
                     foreach ( $categories->getItems() as $category ) {
                        echo "<span itemscope itemtype='http://schema.org/Product'>";
                           echo "<meta itemprop='brand' content='{$category->getName()}' />";
                           echo "<h3 itemprop='name'><b>{$category->getName()}</b></h3>";
                        echo "</span>";
                        if ( $category->getDescription() ) {
                           echo "<p style='border-bottom:1px solid #fff' itemprop='description'>". $category->getDescription() ."</p>";
                        }
                        echo "<br/>";
                        $currencySymbol = $this->restaurant->getCurrencySymbol();
                        $currency = $this->restaurant->getCurrencySymbol();
                        foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
                           echo "<span itemprop='offers' itemscope itemtype='http://schema.org/Offer'>";
                              echo "<meta itemprop='priceCurrency' content='{$this->restaurant->getWebsiteCurrency()}' />";
                              echo "<h4 class='margin-0' itemprop='price'>{$foodItem->getName()} - {$currency}{$foodItem->getPrice()} {$recommendButton->printButton($foodItem)}</h4>";
                           echo "</span>";
                           if( $foodItem->getDescription() ) {
                              echo "<p>" . $foodItem->getDescription() . "<p />";
                           }
                           echo "<br/>";
                        }
                     }
                  }else{
                     echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
                  }
               ?>
            </div>
         </div>
      </div>
   </div>		
</div>