img {

}

body {
	font-family: verdana;
}

a{
	transition: all .4s ease-in-out 0s;
}


/* Default styles */
.padding-0{
   padding: 0;
}
.padding-0-0-25{
   padding: 0 0 25px;
}
.padding-25-0{
   padding: 25px 0;
}
.padding-0-0-50{
   padding: 0 0 50px;
}
.padding-50-0{
   padding: 50px 0;
}
.padding-100-0{
   padding: 100px 0;
}
.padding-150-0{
   padding: 150px 0;
}
.padding-200-0{
   padding: 200px 0;
}
.padding-top-90{
   padding: 90px !important;
}


.margin-0{
   margin: 0;
}
.margin-5-auto{
   margin: 5px auto;
}
.margin-10-auto{
   margin: 10px auto;
}
.margin-25-0{
   margin: 25px 0;
}
.margin-25-auto{
   margin: 25px auto;
}
.margin-50-0{
   margin: 50px 0;
}
.margin-50-0-0{
   margin: 50px 0 0;
}
.margin-25-0-0{
   margin: 25px 0 0;
}



.line-height-23{
   line-height: 23px;
}
.line-height-25{
   line-height: 25px;
}
.line-height-30{
   line-height: 30px;
}
.line-height-35{
   line-height: 35px;
}
.use-background-image{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.color-fff{
   color: #fff;
}


/* Custom Measurement */
.col-14-28571{
   width: 14.28571%;
   float: left;
   border-right: 1px solid #ddd;
}
.col-14-28571:last-child{
   border: 0;
}


/* Header styles */
div.header-area {
  background-image: url("img/restaurant1.jpg");
  height: 500px;
}

.slicknav_menu{
	display: none;
   position: fixed;
   z-index: 999;
   width: 100%;
}

div.logo h1 {
  border-bottom: 1px solid;
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
}

/* Menubar styles */
div.menubar {
   background: none repeat scroll 0 0 rgb(34, 34, 34);
   border-bottom: 1px solid #fff;
}
div.menubar ul#nav {
   margin: 0;
   padding: 0;
   text-align: center;
}
div.menubar ul#nav li {
   display: inline-block;
   list-style: outside none none;
}
div.menubar ul#nav li a {
    color: rgb(238, 238, 238);
    display: block;
    font-size: 20px;
    padding: 45px;
    transition: all 0.4s ease-in-out 0s;
}
div.menubar ul#nav li a:hover {
    background: none repeat scroll 0 0 rgb(187, 187, 187);
    color: rgb(68, 68, 68);
    text-decoration: none;
}

/* Reservation styles */
div.reservation-area {
  background: none repeat scroll 0 0 rgb(238, 238, 238);
}

/* Restaurant Hours styles */
div.restaurant-hours p.start-time, div.restaurant-hours p.angle-down i, div.restaurant-hours p.end-time {
  font-size: 25px;
}

div.restaurant-hours p.angle-down i{
   color: #bbb;
}


/* Menus styles */
div.menus-area {
   background-image: url("img/google-map.jpg");
}
div.menu h3 a.color-fff {
    border-right: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
}
div.menu h3 a.color-fff:last-child {
    border-right: medium none;
}
div.menu h3 a.color-fff:hover {
    color: rgb(187, 187, 187);
}

/* Contact styles */
div.contact-area {
  background: #eee;
}
div.contact h2, div.contact h3{
   color: #555;
}

/* About styles */
div.about div.images div.single img {
  border: 1px solid rgb(221, 221, 221);
  padding: 5px;
}

/* Gallery styles */
div.gallery-area {
  background: none repeat scroll 0 0 rgb(136, 136, 136);
}
div.gallery div.single p.caption a, div.gallery h2{
   color: #fff;
}
div.gallery div.single a img {
   height: 200px;
   margin: 0 auto;
}
div.gallery div.image-column {
  line-height: 0;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
div.gallery div.image-column a img {
  width: 100% !important;
}


/* Review styles */
div.review div.single {
   border: 1px solid rgb(221, 221, 221);
   min-height: 250px;
}
div.review div.single p.review-time {
   color: rgb(85, 85, 85);
}
div.review div.single p.review-time span.date img {
   width: 30px;
}
div.review div.single p.review {
   color: rgb(85, 85, 85);
}
div.review div.view-all {
  margin: 40px auto 0;
}


/* Social styles */
div.social-area {
background: rgba(0, 0, 0, 0) url("img/socials_bg.png") repeat scroll 0 0;
}
div.social ul.socials li {
   display: inline-block;
   margin: 0 20px;
}
div.social ul.socials li a {
  font-size: 15px;
  text-decoration: none;
}
div.social ul.socials li a:hover {
  color: #bbb;
}

div.social ul.socials li a i {
  border-radius: 100%;
  display: block;
  font-size: 65px;
  padding: 10px 25px;
}


div.social ul.socials li a i.fa-facebook {
   background: #3B5998;
}
div.social ul.socials li a i.fa-twitter {
   padding: 10px 15px;
   background: #4197CC;
}
div.social ul.socials li a i.fa-google-plus {
   padding: 10px 0;
   background: #DF5745;
}

div.social ul.socials li a i:hover{
   text-decoration: none;
}

#scroll i{
   background: none repeat scroll 0 0 rgb(107, 142, 35);
   border: 1px solid #fff;
   bottom: 35px;
   height: 35px;
   padding-top: 9px;
   position: fixed;
   right: 35px;
   width: 35px;
   transition: all .4s ease-in-out 0s;
}

#scroll i:hover{
   opacity: .8;
}

/* Footer styles */
div.footer-area {
  background: none repeat scroll 0 0 rgb(51, 51, 51);
}
div.footer p {
  color: rgb(255, 255, 255);
}


/* reviews page styles */

div.reviews div.single-item {
    border-bottom: 1px solid #bbb;
    color: #fff;
    margin-bottom: 25px;
    padding-bottom: 15px;
}
div.reviews div.single-item div.menu-thumb {
    padding-right: 15px;
}
div.reviews div.single-item div.menu-details div.title-price span p.title {
    font-weight: bold;
    padding-right: 13px;
}
div.reviews div.single-item div.menu-details div.title-price span.datePublished {
    font-style: italic;
}
div.reviews div.single-item div.menu-details div.description {
    margin-top: 15px;
}

div.reviews form.review-form input.btn {
    margin-top: 15px;
}
div.reviews form.review-form span.captcha-img {
    color: #fff;
}
