	<div class="main-content clearfix">
		<div class="menus photos col-md-9 col-sm-8 col-xs-8">
			<?php
			  $sPhotos = null;
			  $albums = $this->restaurant->getAlbums();
			  $pageInfo = $this->restaurant->getPage('photos');
			echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
		   ?>
		   <div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">                  
			  <div class="all_videos all_photos clearfix">
				  <?php
				  if ( !$albums->getTotal() ) {
						echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
				  }else{
						foreach ($albums->getItems() as $album ) { 
							 $albumTitle = $album->getTitle();
							 $albumDesc = $album->getDescription();
							 $albumThumbUrl = $album->getThumbnailUrl();                        
							 $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
							 
							 echo "<div class='sng_photo col-lg-4 col-md-4 col-sm-4 text-center padding-0-0-25'>";
								  echo "<a href='$albumSlideshowUrl' title='$albumTitle'>";
										echo "<img height='200' src='$albumThumbUrl' class='img-responsive img-thumbnail' alt='$albumTitle'>";
										echo "<div>$albumTitle</div>";
								  echo "</a>";
							 echo "</div>";
							 
							 if (isset($_GET['album_id']) && $album->getId() == $_GET['album_id']) {
								  foreach($album->getPhotos()->getItems() as $photo) {                                
										$sPhotos .= "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
											 $sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
										$sPhotos .= "</a>";
								  }
							 }
						 }
					} ?>
				</div>

					 <div id='<?=$albumSlideshowUrl?>' class='padding-25-0'>
						<?php echo $sPhotos; ?>
					 </div>
			</div>
		</div>
	</div>