@import url(https://fonts.googleapis.com/css?family=Oswald:300,700,400);
body {
	font-family: 'Linden Hill', serif;
   background: rgba(0, 0, 0, 0) url("img/symphony.png") repeat fixed 0 0;
}

a{
	transition: all .4s ease-in-out 0s;
}


/* Header styles */

div.slicknav_menu {
  display: none;
}

div.web-wrapper {
  background: #fff none repeat scroll 0 0;
  padding: 0;
  margin-right: 8.33333%;
  margin-top: 20px;
  box-shadow: 0 0px 2px #000;
}

div.left-content {
  background: #333333 none repeat scroll 0 0;
}

div.logo h1{
font-family: "Oswald",sans-serif;
margin: 25px 5px;
}

div.logo h1 a {
  color: #fff;
}

div.logo h1 a:hover {
  text-decoration: none;
}

div.menu {
border-bottom: 1px dashed #bebebe;
border-top: 1px dashed #bebebe;
margin-bottom: 25px;
padding: 15px 0;
}

ul#nav {
   margin: 0;
}

ul#nav li {
}

ul#nav li a {
display: block;
font-size: 18px;
padding: 6px 5px;
font-family: 'Oswald', sans-serif;
text-transform: uppercase;
}

ul#nav li a:hover {
   color: #fff;
   text-decoration: none;
}

div.left-content div.our-address h5 {
  color: #fff;
font-family: verdana;
line-height: 25px;
margin: 0;
}


div.left-content div.socials {
    margin: 15px auto;
}

div.left-content div.socials li {
    display: inline-block;
}

div.left-content div.socials li a {
    color: #fff;
    display: block;
    font-size: 18px;
}

div.left-content div.socials li a i.fa-facebook {
    padding: 5px 10px;
}

div.left-content div.socials li a i.fa-facebook {
    background: #3b589f none repeat scroll 0 0;
}

div.left-content div.socials li a i.fa-twitter {
    background: #00abec none repeat scroll 0 0;
}

div.left-content div.socials li a i.fa-google-plus {
    background: #d32e1b none repeat scroll 0 0;
}

div.left-content div.socials li a i {
    padding: 5px;
	 transition: all .4s ease-in-out 0s;
}

div.left-content div.socials li a i:hover {
   opacity: .8
}

div.about-us {
color: #fff;
font-family: verdana;
margin-bottom: 25px;
}

div.left-content div.about-us h3{
font-family: 'Oswald', sans-serif;
}

div.restaurant-time p.ttl {
    font-family: "Oswald",sans-serif;
    margin: 20px auto 3px;
}
div.restaurant-time {
    color: #fff;
	margin-bottom: 40px;
}



div.main-content div.slider-area {
  padding: 25px;
}

div.main-content div.carousel-inner div.active {
  overflow: hidden;
}

div.home-menu div.single-item div.panel-body img {
  margin-bottom: 15px;
  max-width: 100%;
}

div.home-menu h2.title, div.home-menu div.single-item div.panel-heading {
  font-family: "Oswald",sans-serif;
}

div.home-menu div.single-item div.panel-body p {
  font-family: verdana;
}



div.menus{
	padding: 0 25px;
}
div.page-info {
  margin-bottom: 35px;
}
div.page-info .title, div.home-offers h2.title {
  font-family: oswald;
  margin: 25px auto;
}
div.menus h1, div.menus div.single-menu-item div.menu-details div.title-price span p {
  font-family: oswald;
  margin: 25px auto;
}

div.menus div.single-menu-item div.menu-details div.title-price span p {
  margin: 15px auto 5px;
}

div.menus div.single-menu-item ul.list-group li span.description {
  display: block;
}


/* Reviews styles */

div.reviews div.single-review {
    margin-bottom: 30px;
}

div.reviews div.single-review div.user-thumb {
    padding-right: 20px;
}

div.reviews div.single-review div.review-details div.title-price span.author-name {
    font-weight: bold;
    padding-right: 10px;
	font-family: "Oswald",sans-serif;
}

div.reviews div.single-review div.review-details div.title-price span.publish-date {
    color: #555;
    font-style: italic;
}

div.reviews div.single-review div.review-details div.title-price span.review-details {
    display: block;
    margin-top: 10px;
}

div.reviews div.single-review div.review-details div.title-price {
    font-size: 16px;
}

div.main-content div.reviews {
  padding-bottom: 20px;
}


/* ===================  Previous styles ====================== */
div.header h1 {
  font-size: 92px;
  margin: 40px auto;
  font-family: 'Pinyon Script', cursive;
}

div.header h1 a {
  color: #223242;
}

div.header h1 a:hover {
  text-decoration: none;
}


/* menus page styles */

div.menus div.single-menu-item div.menu-details {
    font-size: 18px;
}
div.menus div.single-menu-item div.menu-details div.title-price span p {
    font-size: 28px;
    font-weight: bold;
}
div.menus div.single-menu-item {
    margin-bottom: 50px;
}
div.menus div.single-menu-item ul.list-group li, div.sng_off_out div.sng_off {
  font-size: 16px;
}
div.sng_off_out div.sng_off p.ttl, div.sng_off_out div.sng_off ul li span.price, div.sng_off_out div.sng_off ul li span.priceCurrency {
  font-family: verdana;
  font-size: 18px;
}
div.menus div.single-menu-item a.back-to-top {
  display: block;
  text-align: right;
}

/* videos page styles */

div.videos div.single-video-area div.single-video {
  margin-bottom: 50px;
}

/* Right sidebar styles */

div.right-content div.our-address h2.name, div.right-content div.about-us h2.name {
font-size: 20px;
font-weight: bold;
margin: 0;
}

div.right-content div.our-address h3 {
font-size: 16px;
line-height: 28px;
margin-bottom: 0;
margin-top: 10px;
}
div.right-content div.our-address h3:last-child {
    margin-top: 0;
}

div.right-content div.restaurant-time {
    margin: 20px auto;
}

div.right-content div.restaurant-time p span {
    display: block;
}

div.right-content div.restaurant-time p {

}

/* footer styles */

div.footer {
  margin-right: 8.33333%;
}
div.footer p {
    font-family: "Oswald",sans-serif;
    padding: 15px;
}
div.footer p a {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

