	<div class="main-content clearfix">
		<div class="menus videos col-md-9 col-sm-8 col-xs-8">
			<?php
			   $videoPlayer = null;
			   $videos = $this->restaurant->getVideos();
			   $pageInfo = $this->restaurant->getPage('videos');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			<div class="single-video-area">
				<div class="clearfix">                    
				 <?php 
					 if ( !$videos->getTotal() ) {
						 echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
					 }else{
					 foreach($videos->getItems() as $video) {
						echo '<div class="single-video" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
						$videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
						echo "<h4 itemprop='name'>{$video->getTitle()}</h4>";
						echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
						echo "<span itemprop='description'/>{$video->getDescription()}</span>";
						echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
						echo $video->getYoutubePlayer(array('width'=> '700px'));
						echo '</div>';	
					 } 
					}
				 ?>                                           
				</div>
			</div>
		</div>
	</div>