.slicknav_menu {
  background: none repeat scroll 0 0 #009999;
}
div.menubar {
  background: none repeat scroll 0 0 #009999;
}
div.contact h2,
div.contact h3 {
  color: #009999;
}
div.gallery-area {
  background: none repeat scroll 0 0 #009999;
}
div.about_delivery table tr th,
div.about_delivery table tr td {
  border-top: 1px solid #009999;
}
div.opening-time table tr th,
div.opening-time table tr td {
  border-top: 1px solid #009999;
}
#scroll i {
  background: none repeat scroll 0 0 #009999;
}
div.review div.single {
  border: 1px solid #009999;
}
div.footer-area {
  background: none repeat scroll 0 0 #009999;
}
div.footer p.pull-right a.color-fff:hover {
  color: #bbbbbb;
}
