div.socials {
  background: @background_color none repeat scroll 0 0;
  border-bottom: 1px solid @font_color;
}
div.socials a {
  border-right: 1px solid @font_color;
  color: @font_color;
}
div.logo {
  background-color: @background_color;
}
div.logo h2::after {
  border-bottom: 1px solid @font_color;
}
div.logo h2 a {
  color: @font_color;
}
div.logo p.slogan {
  color: @font_color;
}
div.footer-bottom-area {
  background: @background_color none repeat scroll 0 0;
  border-bottom: 1px solid rgb(111, 133, 120);
}
div.footer-bottom p, div.footer-bottom p strong a {
  color: @font_color;
}
div.single-menu-item div.menu-details div.title-price span p {
  color: @background_color;
}
div.reviews div.single-review div.review-details div.title-price p, div.reviews div.single-review div.review-details div.title-price span.stars i, div.sng_off p.ttl, div.sng_off ul li:first-child span{
	color: @background_color;
}
div.slicknav_menu, div.slicknav_menu a.slicknav_btn span.slicknav_icon-bar{
	background: @background_color;
}
div.slicknav_menu{
	border-bottom: 1px solid @font_color;
}
div.slicknav_menu li a:hover {
  background: @font_color;
  color: @background_color;
}