div.socials {
  background: #e94c6f none repeat scroll 0 0;
  border-bottom: 1px solid #ffffff;
}
div.socials a {
  border-right: 1px solid #ffffff;
  color: #ffffff;
}
div.logo {
  background-color: #e94c6f;
}
div.logo h2::after {
  border-bottom: 1px solid #ffffff;
}
div.logo h2 a {
  color: #ffffff;
}
div.logo p.slogan {
  color: #ffffff;
}
div.footer-bottom-area {
  background: #e94c6f none repeat scroll 0 0;
  border-bottom: 1px solid #6f8578;
}
div.footer-bottom p,
div.footer-bottom p strong a {
  color: #ffffff;
}
div.single-menu-item div.menu-details div.title-price span p {
  color: #e94c6f;
}
div.reviews div.single-review div.review-details div.title-price p,
div.reviews div.single-review div.review-details div.title-price span.stars i,
div.sng_off p.ttl,
div.sng_off ul li:first-child span {
  color: #e94c6f;
}
div.slicknav_menu,
div.slicknav_menu a.slicknav_btn span.slicknav_icon-bar {
  background: #e94c6f;
}
div.slicknav_menu {
  border-bottom: 1px solid #ffffff;
}
div.slicknav_menu li a:hover {
  background: #ffffff;
  color: #e94c6f;
}
