<?php 
$album = $this->restaurant->getDefaultPhotoAlbum(); 
if ($album->getPhotos()) {
    echo '<section class="slider_area">';
        echo '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">';
        echo '<ol class="carousel-indicators">';    
        $i = 0;
        foreach ($album->getPhotos()->getItems() as $photo) {
            echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class=active'></li>";
            $i++;
        }
        echo '</ol>';

        $i = 0;
        echo '<div class="carousel-inner" role="listbox">';
        foreach ($album->getPhotos()->getItems() as $photo) {
            $active = ($i == 0 ? "active" : "");
            echo "<div class='item $active'>";
                echo "<img src='{$photo->getImageUrl()}' alt='banner'>";
                echo '<div class="carousel-caption">';
                    echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
                    echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
                echo '</div>';
            echo '</div>';
            $i++;
        }
        echo '</div>'; ?>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
		<div class="reservation text-center">
			<?php echo $this->restaurant->getThemeViewHelpers()->printPhoneNumbers($this->restaurant);?>
		</div>
    </section>
<?php } ?>

<div class="content-area clearfix">
	<div class="content-inner clearfix col-md-offset-1 col-md-10">
		<div class="contents">
			<div class="menu-top">
				<h2 class="menu-title text-center theme_color"><?php echo $this->restaurant->getSlogan();?></h2>
				<?php echo $this->restaurant->getDescription();?>
			</div>
			
			<div class="devider text-center theme_color"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
			
			<div class="menu-section clearfix">
			<?php
			 $menu = $this->restaurant->getMenu();
			 $categories = $menu->getNormalCategories();
			 
			 if (!empty($categories)) {
				$menu_limit = 0;
				foreach($categories->getItems() as $category) {
					if ( $menu_limit < 3 ) {
					$imageSrc = ($category->getImageId() ? $category->getImage()->getThumbnailUrl() : $this->baseUrl('/tr/themes/ch/theme1/img/fastfood.png'));
			?>
				 <div class="col-md-4 col-sm-4 col-xs-6 single-menu">
					   <h3 class="title"><?=$category->getName();?></h3>
					   <div class="description">
						  <img src="<?=$imageSrc?>" alt="">
						  <p class="subtitle theme_color"><?=$category->getName();?></p>

						  <?php
							 echo "<ul class='list-group'>";
							 $foodItemLimit = 0;
							 foreach($category->getFoodItems()->getItems() as $foodItem) {
								$foodItemLimit += 1;
								echo ( $foodItemLimit < 4 ? "<li class='list-group-item'>{$foodItem->getName()} - {$this->restaurant->getCurrencySymbol()}{$foodItem->getPrice()}</li>" : "" );
							 }
							 echo "</ul>";
						  ?> 

						  <a href="<?=$this->restaurant->getUrl('menu');?>" class="read-more">See Items</a>
					   </div>
				 </div>
			 <?php
				} 
				$menu_limit++;
				}
			   }else{
				   echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no menu item published.');
			   }
			 ?>
			 
			</div>
			
			<div class="devider text-center theme_color"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
			
			
			<div class="offers-area offers-area-home clearfix">
				<div class="offers menu-top">
					<h2 class="menu-title text-center theme_color">Special Offers</h2>
					<?php
					   $specialOffers = $this->restaurant->getOffers();
					   echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
					?>
				</div>
			</div>
			
			
			<div class="devider text-center theme_color"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
			
			<div class="quote-area">
				<div class="quote-inner well">
					<?php
					   $reviews = $this->restaurant->getReviews();
					   if ( !$reviews->getTotal() ) {
						  echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published review found.');
					   }else{
							$firstReview = $reviews->getItems();
							$firstReview = $firstReview[0];
					?>
					<div class="single-item" itemscope itemtype="http://schema.org/Review">
					   <span itemprop='itemReviewed' itemscope itemtype='http://schema.org/Restaurant'>
						  <span itemprop='name' content='<?=$this->restaurant->getName()?>'></span>
					   </span>
					   <p class="quote-text">
						  <?=$firstReview->getText()?>
					   </p>
					   <p class='review-info' itemprop='author' itemscope itemtype='http://schema.org/Person'>
						  <span class='author theme_color' itemprop='name'><?=$firstReview->getCustomer()->getName()?></span>
						  <span class="date"><?=$firstReview->getTs('d F')?></span>
					   </p>
					   
					   <p class='reviewRating theme_color' itemprop='reviewRating' itemscope itemtype='http://schema.org/Rating'>						  
						  <?php
						  $ratings = $firstReview->getRating();
							echo '<meta itemprop="ratingValue" content="'.$ratings.'"/>';
							echo '<meta itemprop="bestRating" content="5"/>';
							for ($i=1; $i <= 5; $i++) {
								$class = 'fa fa-star-o';
								if ($i <= $ratings) {
									$class = 'fa fa-star';
								}
								echo '<i class="'.$class.'"></i>';
							}
						  ?>
					   </p>
					</div>
					<?php }  ?>
				</div>
			</div>
		</div>
	</div>
</div>