<div class="reservation text-center">
	<?php echo $this->restaurant->getThemeViewHelpers()->printPhoneNumbers($this->restaurant);?>
</div>

<div class="content-area gallery-page clearfix">
	<div class="content-inner clearfix col-md-offset-1 col-md-10">
		<div class="contents">
			<div class="menu-top">
				<h2 class="menu-title text-center theme_color">our gallery</h2>
			</div>
			
			<div class="photos-area">
				<?php
				  $sPhotos = null;
				  $albums = $this->restaurant->getAlbums();
				  $page = $this->restaurant->getPage('photos');
			    ?>
			   
				  <div class="all-photos clearfix">
					  <?php
					  if ( !$albums->getTotal() ) {
							echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
					  }else{
							foreach ($albums->getItems() as $album ) { 
								 $albumTitle = $album->getTitle();
								 $albumDesc = $album->getDescription();
								 $albumThumbUrl = $album->getThumbnailUrl();                        
								 $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
								 foreach($album->getPhotos()->getItems() as $photo) {
								 echo "<div class='single-photo col-lg-3 col-md-3 col-sm-3 text-center'>";
									echo "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
										echo "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
										echo "<div>{$photo->getCaption()}</div>";
									echo "</a>";
									echo "</div>";
								 }
									
								 }
							 }
						?>
					</div>

			</div>
		</div>
	</div>
</div>