@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

body{
	font-family: 'Droid Serif', serif;
}

a{
	transition: all .4s ease-in-out 0s;
}
.theme_color{
	color: #9d7653 !important;
}
.theme_color a{
	color: #fce0aa !important;
}

.another_color{
	color: #936e4d !important;
}

#wrap{
	min-height: 100%;
}

.droid_font{
	font-family: 'Droid Serif', serif;
}

div.slicknav_menu{
	display: none;
}

div.header-area {
    background: #000000 none repeat scroll 0 0;
	border-bottom: 1px solid #cfbc91;
}
div.top-address {
    margin-top: 10px;
    font-size: 11px;
}
div.logo h1 a {

}
div.logo h1 a:hover {
  color: #9d7653;
  text-decoration: none;
}
ul#nav li {
    display: inline-block;
    margin: 2px 15px;
}
ul#nav span.logo a {
  color: #d2ae7e;
  font-size: 45px;
  padding: 15px;
  text-decoration: none;
}
ul#nav li a {
    color: #9d7653;
    font-size: 18px;
}
ul#nav li a:hover {
    color: #d2ae7e;
}



div.reservation {
    background: #fce0aa none repeat scroll 0 0;
    border-bottom: 4px solid;
    border-top: 4px solid;
    padding: 16px 0;
}
div.reservation p {
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
}
div.reservation p a.reservation-button {
    background: #470700 none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    margin-left: 8px;
    padding: 4px 10px;
}
div.reservation p a:hover {
    text-decoration: none;
}


/* Content section */

div.content-area {
    background: #efebe0 none repeat scroll 0 0;
	padding: 50px 0;
}
div.content-area div.content-inner {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #b4b4b4;
	box-shadow: 0 0 3px #c2c1bf;
	padding: 5px;
}
div.content-area div.content-inner div.contents {
  border: 1px solid #fce2af;
  overflow: hidden;
  padding: 45px 35px;
}
div.content-area div.contents div.menu-top {
  padding: 0 35px;
}

/* div.content-area div.contents div.menu-top h2.menu-title::before {
  background-color: #f3eade;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 20px 7px;
  width: 200px;
}
div.content-area div.contents div.menu-top h2.menu-title::after {
  background-color: #f3eade;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 20px 7px;
  width: 200px;
} */

div.content-area div.contents div.menu-top h2.menu-title {
margin: 0 auto 25px;
text-transform: uppercase;
}
div.content-area div.content-inner div.contents div.single-menu div.description p.subtitle {
  font-size: 16px;
}
div.content-area div.contents div.menu-top p.description {
  color: #909090;
  font-size: 13px;
  line-height: 20px;
}
div.devider {
  padding: 15px 35px;
}
div.devider i {
  margin: 0 2px;
}
div.devider::before {
  background-color: #F3EADE;
  content: " ";
  display: inline-block;
  height: 1px;
  margin: 0 10px 4px;
  position: relative;
  width: 200px;
}
div.devider::after {
  background-color: #F3EADE;
  content: " ";
  display: inline-block;
  height: 1px;
  margin: 0 10px 4px;
  position: relative;
  width: 200px;
}
div.content-area div.content-inner div.contents div.menu-section {
  margin: 0 auto 25px;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu {
  padding: 0 35px;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu h3.title{
color: #824328;
font-size: 22px;
margin: 15px auto 0;
text-transform: uppercase;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu div.description img {
  border: 5px solid #ddd;
  height: 100px;
  margin: 18px auto 25px;
  width: 100%;
}

div.content-area div.content-inner div.contents div.menu-section div.single-menu div.description p {
    color: #909090;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 25px;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu div.description a.read-more {
    background: #824328 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
    text-transform: uppercase;
}


div.offers-area-home {
  margin: 50px auto 80px;
}


div.quote-area {
    padding: 0 35px;
}
div.quote-area div.quote-inner {
background: #f5f5f5 url("img/Quote.png") no-repeat scroll 20px 15px;
margin: 25px auto;
padding-left: 130px;
}
div.quote-area div.quote-inner img {
    float: left;
    padding-right: 30px;
}
div.quote-area div.quote-inner p {
    color: #909090;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}
div.quote-area div.quote-inner p span {
    display: block;
    margin: 5px auto 0;
}


div.quote-area div.quote-inner p span {
    display: inline-block;
}
div.quote-area div.quote-inner p span.date::before {
    content: "";
    padding-left: 5px;
    position: relative;
    width: 100px;
}
div.quote-area div.quote-inner p span.date {
    font-style: italic;
}
div.quote-area div.quote-inner p span.author {
    font-weight: bold;
}


/* footer styles */

div.footer-area {
	border-top: 4px solid #b2a277;
	background: #000;
  padding: 35px 0;
}

ul.footer-menu li {
    display: inline-block;
    margin: 0 15px;
}
ul.footer-menu li a {
    color: #9d7653;
    font-size: 12px;
}
ul.footer-menu li a:hover {
    color: #bc9068;
	text-decoration: none;
}

ul.socials li {
    display: inline-block;
    margin: 0 5px;
}
ul.socials li a i {
    background: #d2ae7e none repeat scroll 0 0;
    border-radius: 100%;
    color: #724637;
    font-size: 20px;
    padding: 10px 11px;
	transition: all .4s ease-in-out 0s;
}
ul.socials li a i:hover {
    background: #efd098 none repeat scroll 0 0;
    color: #835a49;
}
ul.socials li a i.fa-facebook {
    padding: 10px 15px;
}
ul.socials {
    margin: 30px auto;
}

div.copyright p a{
	color: #EFD098;
}
div.footer-address {
  font-size: 12px;
}
div.copyright p {
  font-size: 10px;
}


/* menu page styles */


div.sidebar ul li a {
    color: #d3af80;
}
div.sidebar ul li {
    color: #d3af80;
    list-style: outside none circle;
}
div.sidebar ul {
    padding-left: 13px;
}
div.sidebar h2 {
    color: #824328;
    font-size: 18px;
    text-transform: uppercase;
}

div.menus-details div.single-item {
  border-bottom: 1px solid #fce2af;
  margin-bottom: 35px;
  padding-bottom: 20px;
}
div.single-item div.image {
  float: left;
  padding: 0 15px 0 0;
}
div.single-item div.image img {
  border: 1px solid #eee;
  padding: 5px;
}
div.single-item div.others h3.title {
color: #d3af80;
font-size: 20px;
line-height: 22px;
margin-bottom: 10px;
}
div.single-item div.others p.description {
  color: #909090;
  font-size: 14px;
  line-height: 25px;
}
div.single-item ul li span.description {
  display: block;
  color: #d3af80;
}

.item-price {
  background: #d3af80 none repeat scroll 0 0;
  color: #fff;
  padding: 2px 10px;
  transition: all .3s ease-in-out 0s;
}
.item-price:hover {
  background: #824328 none repeat scroll 0 0;
}
div.classic-categories div.single-item div.image {
  float: none;
  margin-bottom: 10px;
}
div.classic-categories div.single-item div.others h3.title {
  margin: 0 auto 10px;
}
div.classic-categories div.single-item div.others div.description table td p.sub-description {
  color: #d3af80;
}


/* photos page styles */

div.photos-area div.all-photos div.single-photo {
height: 145px;
margin: 0 auto 45px;
}
div.photos-area div.all-photos div.single-photo a {
  text-decoration: none;
}
div.photos-area div.all-photos div.single-photo a img {
height: 115px;
margin: 0 auto 5px;
max-width: 100%;
}
div.photos-area div.all-photos div.single-photo a div {
border-bottom: 1px solid;
color: #9d7653;
padding-bottom: 15px;
}



/* review pages styles */

div.reviews-area div.single-review div.user-thumb {
    padding-right: 20px;
}
div.reviews-area div.single-review div.review-details div.title-price span.author-name p.title {
    font-weight: bold;
    padding-right: 10px;
}
div.reviews-area div.single-review div.review-details div.title-price span.publish-date {
    color: #666;
    font-style: italic;
}
div.reviews-area div.single-review div.review-details div.title-price span.review-details {
    display: block;
    margin-top: 10px;
}
div.reviews-area div.single-review {
    border-bottom: 1px solid #9d7653;
    margin-bottom: 15px;
    padding-bottom: 15px;
}


/* videos page styles */

div.videos-area div.single-video {
  border-bottom: 1px solid;
  margin-bottom: 35px;
  padding-bottom: 35px;
  text-align: center;
}
div.videos-area div.single-video iframe {
  height: auto;
  max-width: 100%;
}


/* offer page styles */

div.offers-area div.single-offer p.title, div.offers-area div.single-offer ul li span.priceCurrency, div.offers-area div.single-offer ul li span.price {
  font-size: 20px;
}