div.left-content {
  background: #cca45f none repeat scroll 0 0;
}
div.menus h1,
div.menus div.single-menu-item div.menu-details div.title-price span p {
  color: #cca45f;
}
div.home-menu h2.title {
  color: #cca45f;
}
div.home-menu div.single-item div.panel-heading,
div.slicknav_menu {
  background: #cca45f;
}
div.home-menu div.single-item div.panel-body a.btn {
  background: #cca45f;
  border: none;
  color: #be200d;
}
div.home-menu div.single-item div.panel-body {
  border-right: 1px solid #cca45f;
  border-left: 1px solid #cca45f;
  border-bottom: 1px solid #cca45f;
}
div.reviews div.single-review div.review-details div.title-price span.author-name,
div.reviews div.single-review div.review-details div.title-price i,
div.sng_off_out div.sng_off p.ttl,
div.sng_off_out div.sng_off ul li span.price,
div.sng_off_out div.sng_off ul li span.priceCurrency {
  color: #cca45f;
}
div.main-content div.home-menu div.single-item div.panel-heading {
  color: #be200d;
}
