div.left-content {
  background: @background_color none repeat scroll 0 0;
}
div.menus h1, div.menus div.single-menu-item div.menu-details div.title-price span p {
  color: @background_color;
}
div.home-menu h2.title{
	color: @background_color;
}
div.home-menu div.single-item div.panel-heading, div.slicknav_menu{
	background: @background_color;
}
div.home-menu div.single-item div.panel-body a.btn{
	background: @background_color;
	border: none;
	color: @font_color;
}
div.home-menu div.single-item div.panel-body{
	border-right: 1px solid @background_color;
	border-left: 1px solid @background_color;
	border-bottom: 1px solid @background_color;
}
div.reviews div.single-review div.review-details div.title-price span.author-name, div.reviews div.single-review div.review-details div.title-price i, div.sng_off_out div.sng_off p.ttl, div.sng_off_out div.sng_off ul li span.price, div.sng_off_out div.sng_off ul li span.priceCurrency {
  color: @background_color;
}
div.main-content div.home-menu div.single-item div.panel-heading {
  color: @font_color;
}
