<div class="content home col-md-12 no-padding">
	<div class="contents col-md-10 col-md-offset-1 col-1-margin-right">
		<div class="left-content col-md-4">
			<ul class="list-unstyled text-right">
				<?php
					$categories = $this->restaurant->getMenu()->getNormalCategories();
					if ( !empty( $categories ) ) {
						foreach ( $categories->getItems() as $category ) {
							echo "<li><a class='color-fff' href='{$this->restaurant->getUrl('menu')}#{$category->getName()}'>{$category->getName()}</a></li>";
						}
					}else{
						echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
					}
				?>
			</ul>
            <hr/>
            <div>   
                <?php echo $this->restaurant->getSocial()->getFacebookLikeBox(); ?>
            </div>
		</div>
		
		<div class="col-md-8 right-content">
			
			<?php
				$pageInfo = $this->restaurant->getPage('home');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			
			<div class="offers-area">
				<h1 class="title text-center">Our Special Offers</h1>
				<?php
					  $specialOffers = $this->restaurant->getOffers();
					  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
				 ?>
			</div>
			
			<div class="post-content clearfix">
				<div class="left no-padding">
					<?=$this->restaurant->getDescription()?>
				</div>
			</div>
		</div>
	</div>
</div>