<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <?php echo $this->headMeta();?>
      <?php echo $this->headScript();?>
      <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="<?=$this->baseUrl('favicon.ico');?>" />
		<link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/slicknav.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/normalize.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme10/style.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme10/responsive.css');?>">
	  <script src="<?=$this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <?php echo $this->headLink() ?>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		<div class="col-md-12 no-padding header">
			<div class="menu col-md-10 col-md-offset-1 col-1-margin-right">
				<ul id="nav" class="text-right list-unstyled">
					<li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
					<li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
					<?=( $this->restaurant->getShowPageReviews() ?
					"<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
					)?>
					<?=( $this->restaurant->getShowPageVideos() ?
					"<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
					)?>
					<?=( $this->restaurant->getShowPagePhotos() ?
					"<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
					)?>
					<?=( $this->restaurant->getShowPageOffers() ?
					"<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
					)?>
				</ul>
			</div>
		</div>
		
		<div class="banner-area col-md-12 no-padding text-center text-uppercase">
			<div class="banner col-md-10 col-md-offset-1 col-sm-offset-1 col-1-margin-right">
				<div class="col-md-4 logo">
					<a href=""><img src="<?=$this->baseUrl('/tr/themes/ch/theme10/img/logo.png')?>" alt="" /></a>
					<h1><a href=""><?=$this->restaurant->getName()?></a></h1>
					<h2><?=$this->restaurant->getSlogan()?></h2>
				</div>
				
				<div class="banner-right col-md-8">
					<h1>takeaway hotline</h1>
					<h2 class="phone"><a class="color-fff" href="tel:01840121483">01840121483</a> <span class="slashs">/</span> <a class="color-fff" href="tel:01911120583">01911120583</a></h1>
					<div class="default-gallery">
						<ul class="list-unstyled">
							<li><a class="fancybox" href="<?=$this->baseUrl('/tr/themes/ch/theme10/img/1.jpg')?>" title="" rel="group"><img src="<?=$this->baseUrl('/tr/themes/ch/theme10/img/1.jpg')?>" alt="" /></a></li>
							<li><a class="fancybox" href="<?=$this->baseUrl('/tr/themes/ch/theme10/img/2.jpg')?>" title="" rel="group"><img src="<?=$this->baseUrl('/tr/themes/ch/theme10/img/2.jpg')?>" alt="" /></a></li>
							<li><a class="fancybox" href="<?=$this->baseUrl('/tr/themes/ch/theme10/img/3.jpg')?>" title="" rel="group"><img src="<?=$this->baseUrl('/tr/themes/ch/theme10/img/3.jpg')?>" alt="" /></a></li>
							<li><a class="fancybox" href="<?=$this->baseUrl('/tr/themes/ch/theme10/img/1.jpg')?>" title="" rel="group"><img src="<?=$this->baseUrl('/tr/themes/ch/theme10/img/1.jpg')?>" alt="" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	   
	   <?php echo $this->layout()->content; ?>
		
		<div class="footer col-md-12">
			<p class="pull-left"><?=$this->restaurant->getWebsitePoweredByText();?><br/>
				<small><?=$this->restaurant->getSubUnsubLink();?></small>
			</p>
			<p class="pull-right">Designed & Developed By 
				<a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
			</p>
		</div>
	
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="<?=$this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/main.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/themes/ch/theme10/theme.js');?>"></script> 
   </body>
</html>