<div class="content col-md-12 no-padding">
	<div class="contents col-md-10 col-md-offset-1 col-1-margin-right">
		<div class="left-content col-md-4">
			<ul class="list-unstyled text-right">
				<?php
					$categories = $this->restaurant->getMenu()->getNormalCategories();
					if ( !empty( $categories ) ) {
						foreach ( $categories->getItems() as $category ) {
							echo "<li><a class='color-fff' href='#{$category->getName()}'>{$category->getName()}</a></li>";
						}
					}else{
						echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
					}
				?>
			</ul>
		</div>
		
		<div class="col-md-8 right-content">
			<?php
				$pageInfo = $this->restaurant->getPage('offers');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			<div class="clearfix"></div>
			
			<div class="offers-area">
				<?php
					  $specialOffers = $this->restaurant->getOffers();
					  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
				 ?>
			</div>
		</div>
	</div>
</div>