<div class="content col-md-12 no-padding">
	<div class="contents col-md-10 col-md-offset-1 col-1-margin-right">
		<div class="left-content col-md-4">
			<ul class="list-unstyled text-right">
				<?php
					$categories = $this->restaurant->getMenu()->getNormalCategories();
					if ( !empty( $categories ) ) {
						foreach ( $categories->getItems() as $category ) {
							echo "<li><a class='color-fff' href='#{$category->getName()}'>{$category->getName()}</a></li>";
						}
					}else{
						echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
					}
				?>
			</ul>
		</div>
		
		<div class="col-md-8 right-content">
			<?php
				$pageInfo = $this->restaurant->getPage('photos');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			<div class="clearfix"></div>
			
			<div class="photos-area">
				<?php
				  $sPhotos = null;
				  $albums = $this->restaurant->getAlbums();
				  $page = $this->restaurant->getPage('photos');
			    ?>
			   
				  <div class="all-photos clearfix">
					  <?php
					  if ( !$albums->getTotal() ) {
							echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
					  }else{
							foreach ($albums->getItems() as $album ) { 
								 $albumTitle = $album->getTitle();
								 $albumDesc = $album->getDescription();
								 $albumThumbUrl = $album->getThumbnailUrl();                        
								 $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
								 foreach($album->getPhotos()->getItems() as $photo) {
								 echo "<div class='single-photo col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center'>";
									echo "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
										echo "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
										echo "<div>{$photo->getCaption()}</div>";
									echo "</a>";
									echo "</div>";
								 }
									
								 }
							 }
						?>
					</div>
			</div>
		</div>
	</div>
</div>