body{
	font-family: 'Droid Serif', serif;
}

a{
	transition: all .4s ease-in-out 0s;
}
.theme_color{
	color: #f04f25 !important;
}
.theme_color a{
	color: #fce0aa !important;
}
.color-fff{
	color: #fff !important;
}
.slicknav_menu{
	display: none;
}
.no-padding{
	padding: 0 !important;
}
.col-1-margin-right{
	margin-right: 8.33333%;
}

div.header{
	background: #F04F25;
}
div.menu ul {
    margin: 0;
}
div.menu ul li {
    display: inline-block;
    margin: 8px 4px;
}
div.menu ul li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 8px;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 8px 35px;
}
div.menu ul li a:hover {
    background: #270100;
    color: #fff;
    text-decoration: none;
}



div.banner-area {
    background: #270001;
	border-bottom: 4px solid #f04f25;
}
div.banner div.logo {
  padding: 15px 0;
}
div.banner div.logo h1 a {
    color: #f2a30a;
    font-size: 50px;
}
div.banner div.logo h2 {
    color: #fff;
}
div.banner div.logo h1, div.banner div.logo h2 {
    margin: 0;
}
div.banner div.logo h2{
font-size: 16px;
line-height: 25px;
}
div.banner div.banner-right h1 {
color: #f2a30a;
font-size: 30px;
margin: 15px auto 5px;
}
div.banner div.banner-right h2.phone {
  color: #fff;
  font-size: 40px;
  margin: 0;
}

div.banner div.default-gallery ul {
  margin: 20px auto;
}
div.banner div.default-gallery ul li {
  display: inline-block;
}
div.banner div.default-gallery ul li a img {
border: 4px solid #fff;
max-width: 160px;
}


/* content styles */
div.contents div.left-content ul {
    margin: 15px auto;
}
div.contents div.left-content ul li {
    margin-bottom: 10px;
}
div.contents div.left-content ul li a {
    background: #d22c00 none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 0 4px #333;
    display: block;
    padding: 8px 20px;
}
div.contents div.left-content ul li a:hover {
    background: #0d0d0d none repeat scroll 0 0;
    text-decoration: none;
}


div.home div.page-info {
  margin-bottom: 20px;
}
div.contents div.right-content div.awards {
    margin: 15px auto;
}
div.contents div.right-content div.awards img {
    max-width: 100%;
}
div.contents div.right-content div.post-content div.left p {
    font-size: 17px;
    margin-bottom: 20px;
}
div.contents div.right-content div.post-content div.right img {
    max-width: 100%;
    text-align: right;
}



div.contents div.right-content div.terms-condition ul {
    margin: 20px auto 30px;
}
div.contents div.right-content div.terms-condition ul li {
    display: inline-block;
    margin: 5px 20px;
}
div.contents div.right-content div.terms-condition ul li a {
    color: #0000f3;
    text-decoration: underline;
}


/* menu page styles */
div.menus-details div.single-item h3.title {
  background: #270001 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin: 15px auto;
  padding: 15px;
}
div.menus-details div.single-item p.item-title {
  font-size: 18px;
  padding: 0 12px 25px;
}
div.menus-details div.single-item p.item-title span{
color: #270001;
font-weight: bold;
}
div.menus-details div.single-item div.name-price span, div.menus-details div.single-item div.others table td span.item-name {
  color: #f04f25;
  font-weight: bold;
}
div.menus-details div.single-item ul.list-group, div.menus-details div.single-item table {
  margin-bottom: 5px;
}
div.menus-details div.single-item a.back-to-top {
  display: block;
  text-align: right;
}

/* review page styles */


div.reviews-area {
    margin: 15px auto;
}
div.reviews-area div.single-review {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
div.reviews-area div.single-review div.user-thumb {
    padding-right: 15px;
}
div.reviews-area div.single-review div.review-details div.title-price span.author-name p.title {
    padding-right: 8px;
}
div.reviews-area div.single-review div.review-details div.title-price span.publish-date {
    font-style: italic;
}
div.reviews-area div.single-review div.review-details div.title-price span.review-details {
    color: #555;
    display: block;
    line-height: 25px;
    margin-top: 15px;
}
div.reviews-area form.review-form input.btn {
  margin-top: 10px;
}


/* videos page styles */

div.videos-area {
    margin: 15px auto;
}
div.videos-area div.single-video iframe {
    max-width: 100%;
}
div.videos-area div.single-video {
    margin-bottom: 25px;
    padding-left: 0;
}
div.videos-area div.single-video h4 {
    color: #f04f25;
}


/* photos page styles */

div.photos-area {
    margin: 15px auto;
}
div.photos-area div.single-photo {
    margin-bottom: 20px;
}
div.photos-area div.single-photo a {
    text-decoration: none;
}
div.photos-area div.single-photo a div {
    color: #f04f25;
}



/* offer page styles */


div.offers-area {
    margin: 15px auto;
}
div.offers-area div.single-offer {
  padding-left: 0;
}
div.offers-area div.single-offer table tr td p.title{
	margin-bottom: 0;
}
div.offers-area div.single-offer table tr td p.title b span, div.offers-area div.single-offer table tr td ul li span.priceCurrency, div.offers-area div.single-offer table tr td ul li span.price {
    font-size: 23px;
}
div.offers-area div.single-offer ul span li {
    font-size: 15px;
    line-height: 24px;
}


/* footer styles */
div.footer {
  background: #270001 none repeat scroll 0 0;
  border-top: 4px solid #f04f25;
  color: #f04f25;
  padding: 25px 15px;
  margin-top: 50px;
}