<div class="content col-md-12 no-padding">
	<div class="contents col-md-10 col-md-offset-1 col-1-margin-right">
		<div class="left-content col-md-4">
			<ul class="list-unstyled text-right">
				<?php
					$categories = $this->restaurant->getMenu()->getNormalCategories();
					if ( !empty( $categories ) ) {
						foreach ( $categories->getItems() as $category ) {
							echo "<li><a class='color-fff' href='#{$category->getName()}'>{$category->getName()}</a></li>";
						}
					}else{
						echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
					}
				?>
			</ul>
		</div>
		
		<div class="col-md-8 right-content">
			<?php
				$pageInfo = $this->restaurant->getPage('videos');
				echo $this->restaurant->getThemeViewHelpers()->printPageDetails($pageInfo);
			?>
			<div class="clearfix"></div>
			
			<div class="videos-area">                
				<?php
				   $videoPlayer = null;
				   $videos = $this->restaurant->getVideos();
				   $page = $this->restaurant->getPage('videos');
				?>                  
				 <?php 
					 if ( !$videos->getTotal() ) {
						 echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
					 }else{
					 foreach($videos->getItems() as $video) {
						echo '<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 single-video theme_color" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
						$videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
						echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
						echo "<span itemprop='description'/>{$video->getDescription()}</span>";
						echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
						echo $video->getYoutubePlayer(array('width'=> '700px'));
                        echo "<h4 itemprop='name'>{$video->getTitle()}</h4>";
						echo '</div>';	
					 } 
					}
				 ?>
			</div>
		</div>
	</div>
</div>