<?php
	$album = $this->restaurant->getDefaultPhotoAlbum(); 
	if (is_object($album)&& $album->getPhotos()) {
	echo '<section class="slider_area">';
	echo '<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">';
	echo '<ol class="carousel-indicators">';    
	$i = 0;
	foreach ($album->getPhotos()->getItems() as $photo) {
		echo "<li data-target='#carousel-example-generic' data-slide-to='$i' class=active'></li>";
		$i++;
	}
	echo '</ol>';

	$i = 0;
	echo '<div class="carousel-inner" role="listbox">';
	foreach ($album->getPhotos()->getItems() as $photo) {
		$active = ($i == 0 ? "active" : "");
		echo "<div class='item $active'>";
			echo "<img src='{$this->baseUrl($photo->getImageUrl())}' alt='banner'>";
			echo '<div class="carousel-caption">';
				echo ($album->getTitle() ? '<h2>'. $album->getTitle() .'</h2>' : '');
				echo ($photo->getCaption() ? '<p>'. $photo->getCaption() .'</p>' : '');
			echo '</div>';
		echo '</div>';
		$i++;
	}
	echo '</div>'; ?>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>
</section>
<?php } ?>
 

<section class="sp_offer_area">
    <div class="container sp_offer">
        <div class="row">
			<?php
				$pageInfo = $this->restaurant->getPage('home');
				echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
			?>
			
            <div class="">
                <p class="sp_hed">Special Offers <span>Our Special's Offers</span><i class="fa fa-beer"></i></p>
                <br /><br />
                <br />

                <?php
                    $specialOffers = $this->restaurant->getOffers();
                    echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
                ?>
            </div>
        </div>
    </div>		
</section>		
<br /><br /><br /><br />

<section class="footer_area_top">
    <div class="container">
        <div class="row">
            <div class="footer_top clearfix">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p class="des small"><?=$this->restaurant->getDescription();?></p>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p class="ttl"><b>Open Daily</b></p>
                    <p class="des small open">
                        <?php
                            $times = $this->restaurant->getTimes();
                            foreach ( $times->getItems() as $time ) {
                        ?>
                        <span><?php echo $time->getDays().' : '.$time->getLunchStart().' - '.$time->getLunchEnd();?></span>
                        <?php } ?>
                    </p>
                    
                    <p class="ttl"><b>Diner Daily</b></p>
                    <p class="des small open">
                        <?php
                            foreach ( $times->getItems() as $time ) {
                        ?>
                        <span><?php echo $time->getDays().' : '.$time->getDinerStart().' - '.$time->getDinerEnd();?></span>
                        <?php } ?>
                    </p>
                    
                    <p class="ttl"><b>Delivery Daily</b></p>
                    <p class="des small open">
                        <?php
                            foreach ( $times->getItems() as $time ) {
                        ?>
                        <span><?php echo $time->getDays().' : '.$time->getDeliveryStart().' - '.$time->getDeliveryEnd();?></span>
                        <?php } ?>
                    </p>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p class="ttl"><b>Photo Albums</b></p>
                    <div class="all_flckr_img">
                        <?php
                           $album = $this->restaurant->getDefaultPhotoAlbum();
                           $photos = $album->getPhotos();
						   foreach ( $photos->getItems() as $photo ) {
							  echo "<a href='{$this->restaurant->getUrl('photos')}'><img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}' /></a>";
						   }
                        ?>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p class="ttl"><b>Address</b></p>
                    <div class="cont_us_hm small">
                        <?php
                            $contact_info = $this->restaurant->getAddress();
                            $address = $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($contact_info);
                        ?>
                        <?=$address?>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <p class="ttl"><b>Takeaway &amp; Reservation</b></p>
                    <div class="cont_us_hm small">
                        <?php
                            $second_phone = $this->restaurant->getPhoneTakeAway();
                            $phone = $this->restaurant->getPhoneReservation();
                        ?>
						<?php if ($second_phone) { ?>
                        <p class="pull-left"><i class="fa fa-phone"></i> <a class="phone-number" href="tel:<?=$second_phone?>"><?=$second_phone?></a></p>
						<?php } if ($phone){ ?>
                        <p class="pull-left"><i class="fa fa-phone"></i> <a class="phone-number" href="tel:<?=$phone?>"><?=$phone?></a></p>
						<?php } ?>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    
                    <p class="ttl"><b>Social Media</b></p>
                     <ul class="socials">
                        <li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>	
    </div>	
</section>	