		<section class="videos_area">
			<div class="container videos">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<?php
							$pageInfo = $this->restaurant->getPage('menu');
							echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
						?>
						
						<div class="menus_acc">
						<?php
							$menu = $this->restaurant->getMenu();
							$id = 0;
							$categories = $menu->getNormalCategories();
							$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
							$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
							if ( !empty($categories) ) {
							   foreach ( $categories->getItems() as $category ) {
							   $id++;
                     ?>
                     <div class="panel panel-info col-md-6 col-sm-6 col-xs-12 clearfix">
						<div class="panel-heading">
							<?=$category->getName()?>
						</div>
						<div class="panel-body">
							<span>
								<h3 class="text-uppercase" itemprop="name"><?=$category->getName()?></h3>
							</span>
                        <?php 
							if ($category->getImage()) {
								$categoryImageUrl = $category->getImage()->getThumbnailUrl();
								echo "<img src='$categoryImageUrl' alt='Category image' title='{$category->getName()}'/>";
							}
						?>
						<p>
                        <?php
                           if ( $category->getDescription() ) {
                              echo "<span itemprop='description'>{$category->getDescription()}</span>";
                           }
                        ?>
                        </p>
						<br />
						</div>
						<!-- List group -->
						<ul class="list-group">
                        <?php
                           $currency = $this->restaurant->getCurrencySymbol();
                           foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
                        ?>
                        <li class="list-group-item" itemscope itemtype="http://schema.org/Product">
                           <meta itemprop="brand" content="<?=$category->getName()?>" />
                           <span itemprop="name"><?=$foodItem->getName()?></span> - 
                           <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                              <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
                              <?=$currency?>
                              <span itemprop="price">
                                 <?=$foodItem->getPrice()?>
                              </span>
                              <?=$recommendButton->printButton($foodItem)?>
                           </span>
                           <?=$spiceLevel->printImage($foodItem)?>
                           <?php
                              if ($foodItem->getDescription()) {
                                 echo "<p class='text-info' itemprop='description'>{$foodItem->getDescription()}</p>";
                              }
                           ?>
                        </li>
                        <?php   
                           }
                        ?>
						</ul>
					</div>
                     <?php } }else{
                              echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
                             }
                        ?>
					</div>
                  <div class="clearfix"></div>
                  <div class="classic-categories">
                  <?php
                  $categories = $menu->getClassicCategories();
                  if (!empty($categories)) {
                  $content = '';
                  foreach($categories->getItems() as $category) { ?>
                  <div class="panel panel-info clearfix">
                      <div class="panel-heading">
                        <?=$category->getName();?>
                      </div>
					  <div class="class-image panel-body">
						  <?php 
								if ($category->getImage()) {
									$categoryImageUrl = $category->getImage()->getThumbnailUrl();
									echo "<img src='$categoryImageUrl' alt='Category image' title='{$category->getName()}'/>";
								}
							?>
						</div>
                      <div class="panel-body">
                        <?php
                            $content .= "<table class='table table-bordered '>";
                            $content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
                            if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
                            if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
                            if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
                            if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
                            if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
                            if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
                            if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
                            if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
                            $content .= "</tr></thead>";
                            $content .= "<tbody>";

                            foreach($category->getFoodItems()->getItems() as $item) {
                                $content .= "<tr>";
                                //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
                                $content .= "<td>{$item->getName()}&ensp;{$spiceLevel->printImage($item)} <br/><p class='text-info'>{$item->getDescription()}</p></td>";
                                $content .= "<td>{$currency}{$item->getPrice()}</td>";

                                $content .= ($category->getShowChickenLambTikkaPrice()
                                ?  "<td>{$currency}{$item->getPriceChickenLambTikka()}</td>" : "");
                                $content .= ($category->getShowLambPrice()
                                ?  "<td>{$currency}{$item->getPriceLamb()}</td>" : "");
                                $content .= ($category->getShowBeefPrice()
                                ?  "<td>{$currency}{$item->getPriceBeef()}</td>" : "");
                                $content .= ($category->getShowDuckPrice()
                                ?  "<td>{$currency}{$item->getPriceDuck()}</td>" : "");
                                $content .= ($category->getShowPrawnPrice()
                                ?  "<td>{$currency}{$item->getPricePrawn()}</td>" : "");
                                $content .= ($category->getShowKingPrawnPrice()
                                ?  "<td>{$currency}{$item->getPriceKingPrawn()}</td>" : "");
                                $content .= ($category->getShowVegetablePrice()
                                ?  "<td>{$currency}{$item->getPriceVegetable()}</td>" : "");
                                $content .= ($category->getShowMixedPrice()
                                ?  "<td>{$currency}{$item->getPriceMixed()}</td>" : "");
                                $content .= "</tr>";
                            }

                            $content .= "</tbody></table>";
                            echo $content;
                        ?>
                      </div>
                  </div>
               <?php } ?>                    
               <?php } ?>
               </div>
					</div>
					
					<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
						<div class="address widget">
							<?php
                        $address = $this->restaurant->getAddress();
                        echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);
                     ?>
						</div>
						
						<div class="fb_sec widget">
                     <div class="facebook-likebox">								
								<?=$this->restaurant->getSocial()->getFacebookLikeBox()?>
                     </div>
						</div>	
					</div>
				</div>	
			</div>
		</section>	
		
		<br /><br /><br /><br />
		<section class="sp_offer_area">
			<div class="container sp_offer">
				<div class="row">
					<div class="">
						<?php
                     $specialOffers = $this->restaurant->getOffers();
                     echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
                  ?>
					</div>
				</div>
			</div>		
		</section>		
		<br /><br /><br /><br />