<section class="videos_area">
   <div class="container videos">
      <div class="row">
         <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <?php $page = $this->restaurant->getPage('offers');?>
            <?=($page->title ? '<h2 class="theme_color hidden-xs">'.$page->title.'</h2>' : '');?>
            <?=($page->description ? '<h4 class="hidden-xs text-muted">'.$page->description.'</h4>' : '');?>
            <br />
            <br />
            <br />
            <?php
               $specialOffer = $this->restaurant->getOffers();
               echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffer, $this->restaurant);
            ?>
         </div>
         <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="address widget">
               <?php
                  $address = $this->restaurant->getAddress();
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);
               ?>
            </div>
            
            <div class="fb_sec widget">
               <div class="facebook-likebox">								
                  <?=$this->restaurant->getSocial()->getFacebookLikeBox()?> 
               </div>
            </div>	
         </div>
      </div>	
   </div>
</section>	