/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

div.mainmenu ul#nav li {
  margin: 5px 10px;
}

div.mainmenu ul#nav li a {
  margin: 5px 10px;
}

span.phn_lg{
   display: block;
}

div.good h1 {
  font-size: 30px;
}

div.good h1 i {
  font-size: 20px;
  margin: 0;
}

div.health div.row img {
  display: block;
  float: none !important;
  margin: 0 auto 15px;
  max-width: 100%;
}

section.contact_area {
  padding: 70px 0;
}

}





@media only screen and (max-width: 767px) {

.slicknav_menu{
	display: block;
}
div.mainmenu {
  display: none;
}

div.logo a img {
  display: block;
  margin: 0 auto;
}

div.logo{
   text-align: center;
}

span.phn_lg {
  padding-left: 0;
  padding-top: 5px;
  text-align: center;
}

div.carousel-inner div.active{
height: auto;
}

div.good h1, div.health h1 {
  font-size: 30px;
}

div.good h1 i {
  font-size: 20px;
  margin: 0;
}

div.health div.row img {
  display: block;
  float: none !important;
  margin: 0 auto 15px;
  max-width: 100%;
}

section.good_area, section.health_area{
	padding: 0 15px;
}

div.health h1{
	text-align: center;
}

div.health p {
  text-align: center;
}

div.health div.row a.more {
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto 70px;
}

section.contact_area {
  padding: 70px 0;
}

div.footer_bottomo p {
  float: none !important;
  text-align: center;
}

div.contact_info {
  margin: 0 50px;
}

div.all_videos {
  margin: 0 auto;
}

div.sing_vid {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 8.33333%;
}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {



}


@media only screen and (max-width: 479px) {

div.logo{
	width: 100%;
}

div.logo a {
  display: block;
  text-align: center;
}

div.menus_acc div.panel {
  width: 98%;
}

div.sp_offer div.sng_off_out {
  width: 99%;
  margin-bottom: 12px;
}

.socials {
    width: 100%;
}
div.socials ul {
    text-align: center;
}

}


