   <section class="review_area">
      <div class="container review videos">
         <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <?php
                
				$pageInfo = $this->restaurant->getPage('reviews');
				echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
               ?>
               <div class="reviews clearfix">
                  <?php	
                    $reviews = $this->restaurant->getReviews();
                    if ( !$reviews->getTotal() ) {
                     echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
                    }else{
                    foreach ( $reviews->getItems() as $review ) {
                        echo '<div class="sing_rev" itemscope itemtype="http://schema.org/Review">';
                            echo "<span itemprop='itemReviewed' itemscope itemtype='http://schema.org/Restaurant'>";
                            echo "<span itemprop='name' content='{$this->restaurant->getName()}'></span>";
                            echo "</span>";
                            echo "<h4 class='text-muted'>";
                            echo "<span class='rvw_name'>";
                                echo "<b><span itemprop='author' itemscope itemtype='http://schema.org/Person'>";
                                echo "<span itemprop='name'>{$review->getCustomer()->getName()}</span>";
                                echo "</span></b>";
                            echo "</span><small> On {$review->getTs('d F Y')}</small>";
                            echo "</h4>";
                            
                            echo "<h6>";                            
                            echo "<span class='stars'>";
                                $count_review = $review->getRating();
                                for($i=1; $i <= 5; $i++){
                                    $classes = "fa fa-star-o";
                                    if($i <= $count_review) {
                                        $classes = "fa fa-star";
                                    }
                                    echo "<i class='$classes'></i>";
                                }
                            echo "</span>";
                            
                            echo "<span itemprop='reviewRating' itemscope itemtype='http://schema.org/Rating'>";
                            echo "&ensp;<span itemprop='ratingValue'>{$review->getRating()}</span> ";
                            echo "out of <span itemprop='bestRating'>5</span>";
                            echo "</span> ";
                            echo "</h6>";
                            echo "<p class='text-muted rvw_name'>{$review->getText()}</p>";
                        echo "</div>";
                    }
                    }
                ?>
                
                  <nav>
                    <ul class="pagination">
                      <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                      <li class=""><a href="#">2 <span class="sr-only">2</span></a></li>
                      <li class=""><a href="#">3 <span class="sr-only">3</span></a></li>
                      <li class=""><a href="#">4 <span class="sr-only">4</span></a></li>
                      <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    </ul>
                  </nav>
                  
                  <div class="give_rev">
                     <?php 
                         $form = $this->reviewForm();
                         echo $form->getHtml();
                     ?>
                  </div>
               </div>
            </div>
            
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
               <div class="address widget">
                  <?php
                     $address = $this->restaurant->getAddress();
                     echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddress($address);
                  ?> 
               </div>
               
               <div class="fb_sec widget">
                  <div class="facebook-likebox">								
                     <?php
                        $social = $this->restaurant->getSocial();
                        echo $social->getFacebookLikeBox();
                     ?>
                  </div>
               </div>	
            </div>
         </div>	
      </div>
   </section>	
   
   <br /><br /><br /><br />
   <section class="sp_offer_area">
      <div class="container sp_offer">
         <div class="row">
            <div class="">
               <?php
                  $special_offers = $this->restaurant->getOffers();
                  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($special_offers, $this->restaurant);
               ?>
            </div>
         </div>
      </div>		
   </section>		
   <br /><br /><br /><br />