
img {

}

body {
	font-family: verdana;
}

a{
	transition: all .4s ease-in-out 0s;
}

.theme_color_hover{
	color: rgb(217, 183, 114);
}


.slicknav_menu{
	display: none;
}

header.header_area {
background: #333 none repeat scroll 0 0;
border-bottom: 3px solid #bbb;
color: #bbb;
padding: 20px 0;
}

header.header_area div.background-shape {
background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
border-radius: 5px;
padding: 20px 0;
}

div.logo a {
color: #bbb;
display: block;
font-size: 20px;
}
div.logo a:hover {
  text-decoration: none;
}
div.logo a img {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
div.mainmenu {
    padding: 0;
}
span.phn_lg {
  font-size: 12px;
}
div.mainmenu ul#nav {
margin: 0;
padding: 0;
text-align: right;
}
div.mainmenu ul#nav li {
display: inline-block;
list-style: outside none none;
margin: 5px 15px;
}
div.mainmenu ul#nav li a, div.socials ul li a {
  color: #bbb;
}
div.mainmenu ul#nav li a:hover, div.mainmenu ul#nav li a.active {

}

div.socials ul {
    margin: 0;
    padding: 0;
    text-align: right;
}
div.socials ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 5px;
}
div.socials ul li a i {
    transition: all .5s ease-in-out;
}
div.socials ul li a i:hover {
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.slider_area{

}

.slider_area img{
display: block;
margin: 0 auto;
}

div.carousel-inner div.active {
  height: 400px;
  overflow: hidden;
}

/* menus */

div.menus_acc {
  margin: 30px auto;
}



/* special offer */

div.sp_offer {

}

div.sp_offer div.row p.sp_hed {
border: 1px solid;
color: rgb(85, 85, 85);
display: block;
font-size: 18px;
font-weight: bold;
margin: 0 auto;
padding: 22px 10px;
position: relative;
text-align: center;
width: 280px;
}

div.sp_offer div.row p.sp_hed span {
  display: block;
  font-size: 13px;
  font-weight: normal;
}

div.sp_offer div.row p.sp_hed i.fa {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border: 1px solid;
  border-radius: 100%;
  font-size: 18px;
  height: 40px;
  left: 45%;
  padding: 10px;
  position: absolute;
  top: -22px;
  width: 40px;
}

div.sp_offer div.sng_off_out {
padding: 0 10px;
}

div.sng_off_out p.ttl {
  margin-bottom: 20px;
  font-size: 20px;
}

div.sng_off_out p.ttl b {
  padding-bottom: 5px;
}

div.sng_off_out p.pull-right {
  color: rgb(85, 0, 0);
}

div.sng_off_out img {
display: inline-block;
height: 130px;
margin: 0 auto 10px;
}

div.sng_off_out p.small {
  line-height: 20px;
  text-align: justify;
}

div.sng_off_out div.sng_off ul li.price-bigger {
  font-size: 20px;
}



.sng_off {
border: 1px solid rgb(221, 221, 221);
border-radius: 5px;
padding: 15px;
transition: all 0.4s ease-in-out 0s;
}
div.sng_off:hover {
border-color: rgb(102, 175, 233);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
outline: 0 none;
}
section.good_area {
    padding: 50px 0;
}
div.good h1 {
font-family: Lucida Console;
margin: 40px auto;
}
div.good h1 i {
    color: #bbb;
    font-size: 30px;
    margin: 0 15px;
    vertical-align: top;
}
div.good p {
    color: #555;
    line-height: 25px;
    margin-bottom: 25px;
}
a.more {
    border: 1px solid #888;
    color: #555;
    display: inline-block;
    padding: 8px 20px;
}
a.more:hover {
    background: none repeat scroll 0 0 #ffd34e;
    border: 1px solid #dfd;
    color: #333;
    text-decoration: none;
}

section.health_area {
  padding: 50px 0;
}

div.health h1 {
    color: #555;
    font-family: Lucida Console;
}
div.health p {
    color: #555;
    line-height: 25px;
    margin-bottom: 25px;
}

section.contact_area {
background: url("img/maps.png") repeat scroll center center rgba(0, 0, 0, 0);
border-top: 4px solid #ffd34e;
padding: 140px 0 80px;
}
div.contact_info {
  background: none repeat scroll 0 0 #111;
  color: #fff;
  padding: 45px;
}
a.map_lnk {
  background: none repeat scroll 0 0 #ffd34e;
  color: #000;
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  width: 195px;
}
div.contact_info h2 {
    border-bottom: 1px dashed #fff;
    color: #ffd34e;
    margin: 10px auto 30px;
    padding-bottom: 25px;
}
div.contact_info p {
    font-size: 18px;
}

/* review */

div.review {
  margin: 80px auto;
}
.widget{
	padding-bottom: 20px;
}
.widget h4{
border-bottom: 1px solid;
padding-bottom: 5px;
}
.rvw_name {
  color: rgb(51, 51, 51);
}
.stars {
  color: #ffd34e;
}

.reviews {
  margin: 40px auto 20px;
}
div.sing_rev h4, div.sing_rev p {
    margin: 5px auto;
}
div.sing_rev {
    border-bottom: 1px solid #eee;
    padding: 20px 0 10px;
}


/* videos */

div.all_videos {
    margin: 60px auto;
}
div.videos {
  margin: 30px auto 70px;
}
div.sing_vid {
    margin-bottom: 70px;
}


/* photos */

div.sng_photo {
  margin: 0 auto 30px;
  position: relative;
}
div.sng_photo a {
  color: rgb(51, 51, 51);
  font-weight: bold;
}
div.sng_photo a:hover {
  opacity: 0.9;
}
div.sng_photo a img {
  height: 140px;
  margin: 0px auto 10px;
}

.sng_photo:hover p.photo_hvr{
	display:block;
	opacity:1;
}

p.photo_hvr{
background: none repeat scroll 0 0 rgb(153, 153, 153);
display: none;
height: 100%;
opacity: 0;
position: absolute;
top: 0;
transition: all 0.5s ease-in-out 0s;
width: 100%;
}

div#links a img {
  height: 100px;
  max-width: 100%;
}

/* Generic styles */

.card-flip {
  position: relative;
}

.card-flip-front,
.card-flip-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-flip-front {
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  
  z-index: 1; /* for IE 9 */
}
:hover > .card-flip-front {
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
}

.card-flip-back {
  -webkit-transform: perspective(600px) rotateY(-179deg);
  transform: perspective(600px) rotateY(-179deg);
}
:hover > .card-flip-back {
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);

  z-index: 2; /* for IE 9 */
}


/* Instance-specific example styles */

.card-flip {
  height: 300px;
  width: 200px;
}

.card-flip-front {
  background: teal;
}

.card-flip-back {
  background: gray;
}


/* menus */

div.menus_acc div.panel {
display: inline-block;
margin: 0 1% 45px;
width: 47%;
padding: 0px;
}

div.post_cont {
    margin: 15px auto 90px;
}
div.post_cont p {
    color: #444;
    line-height: 25px;
    margin-bottom: 35px;
    text-align: justify;
}

.fb_sec {
    width: 100%;
    text-align: right;
}
.fb_sec iframe {
    border: medium none;
	width: 100%;
}

.footer_area_top {
border-top: 5px solid;
overflow: hidden;
padding: 45px 0 20px;
}

.footer_area_bottom {
background: #333 none repeat scroll 0 0;
border-top: 3px solid #bbb;
color: #bbb;
overflow: hidden;
padding: 20px 0;
}

/*
div.footer_top div.col-md-3 p.ttl {
  border-bottom: 1px solid rgb(217, 183, 114);
  color: rgb(68, 68, 68);
  margin-bottom: 15px;
  padding-bottom: 12px;
}

div.footer_top div.col-md-3 p.des {
  line-height: 19px;
  text-align: justify;
  margin-bottom: 25px;
  color: #fff;
}

div.footer_top div.col-md-3 p.open span {
  display: block;
}

div.cont_us_hm div {
  color: rgb(255, 255, 255);
}

div.footer_top div.col-md-3 p.open a.reservation {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid rgb(217, 183, 114);
  text-align: center;
  margin: 10px auto;
  padding: 5px 15px;
}

a.tels {
  color: rgb(217, 183, 114);
}
*/

/* flickr feed styles */

div.all_flckr_img {

}

div.all_flckr_img a img {
border: 3px solid #333;
height: 60px;
margin-bottom: 3px;
width: 60px;
}

/* cont us home */


div.cont_us_hm p.pull-left {
    font-size: 14px;
    padding-right: 15px;
    margin-bottom: 15px;
}

div.footer_bottomo p {
margin: 0px auto;
}

/* socials */


ul.socials {
    margin: 0;
    padding: 0;
}
ul.socials li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 10px;
}
ul.socials li a {
    border: 2px solid;
    border-radius: 100%;
    padding: 5px 8px;
}


/* oters */

.margin-bottom-10 {
   margin-bottom: 10px;
}

.border-radius-3 {
  border-radius: 3px;
}

.padding-3{
   padding: 3px;
}

.ash-color-border {
  border: 1px solid rgb(221, 221, 221);
}

.width-50-percent {
   width: 50%;
}