div.header h1 a {
  color: @background_color;
}
div.menu {
  background: @background_color;
}
div.web-wrapper {
  border: 4px solid @background_color;
}
div.menus div.single-item div.panel {
  border: 1px solid @background_color;
}
div.menus div.single-item div.panel-heading {
  background: @background_color;
  color: @font_color;
}
div.menus div.single-item div.panel-body a.btn {
  background: @background_color;
  border: none;
  color: @font_color;
}
div.reviews div.single-review div.review-details div.title-price span.author-name, div.reviews div.single-review div.review-details div.title-price span.stars{
	color: @background_color;
}
div.videos div.single-video h4, div.all_photos div.sng_photo h3, div.all_photos div.first-album-photos h3, div.sng_off p.ttl b span, div.sng_off ul li span{
	color: @background_color;
}
