<div class="header-area clearfix">
   <div class="socials col-md-12 clearfix">
      <a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a>
      <a href="/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a>
      <a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a>
   </div>
   
   <div class="logo col-md-12 padding-40-0 text-center text-shadow">
      <h2 class="main"><a href=""><?=$this->restaurant->getName()?></a></h2>
      <p class="slogan"><?=$this->restaurant->getSlogan()?></p>
   </div>
</div>


<div class="menu clearfix">
   <div class="col-md-12 container">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>

<div class="gallery-area padding-40-0 clearfix">
   <div class="container gallery">
		<?php
			$album = $this->restaurant->getDefaultPhotoAlbum();
			$photos = $album->getPhotos();
			if ( $album->getPhotos() ) {
				foreach ( $photos->getItems() as $photo ) {
					echo "<a href='{$photo->getImageUrl()}' class='fancybox' rel='group'><img src='{$photo->getImageUrl()}' alt='{$photo->getCaption()}' /></a>";
				}
			}else{
				echo $this->restaurant->getThemeViewHelpers()->alert('No default album\'s image found.');
			}
		?>
   </div>
</div>