<div class="header-area clearfix">   
   <div class="logo col-md-12 padding-40-0 text-center text-shadow">
      <h2 class="main"><a href=""><?=$this->restaurant->getName()?></a></h2>
   </div>
</div>


<div class="menu clearfix">
   <div class="col-md-12 container">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>

<div class="videos-area padding-40-0 clearfix">
   <div class="container standards videos">
		<?php
      $sPhotos = null;
      $albums = $this->restaurant->getAlbums();
      $page = $this->restaurant->getPage('photos');
   ?>
   <h1>Photos</h1>
   <div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">                  
      <div class="all_videos all_photos clearfix">
			  <?php
			  if ( !$albums->getTotal() ) {
					echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
			  }else{
					foreach ($albums->getItems() as $album ) { 
						 $albumTitle = $album->getTitle();
						 $albumDesc = $album->getDescription();
						 $albumThumbUrl = $album->getThumbnailUrl();                        
						 $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
						 
						 echo "<div class='sng_photo col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center padding-0-0-25'>";
							  echo "<a href='$albumSlideshowUrl' title='$albumTitle'>";
									echo "<img height='200' src='$albumThumbUrl' class='img-responsive img-thumbnail' alt='$albumTitle'>";
									echo "<div>$albumTitle</div>";
							  echo "</a>";
						 echo "</div>";
						 
						 if (isset($_GET['album_id']) && $album->getId() == $_GET['album_id']) {
							  foreach($album->getPhotos()->getItems() as $photo) {                                
									$sPhotos .= "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
										 $sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
									$sPhotos .= "</a>";
							  }
						 }
					 }
				} ?>
			</div>

			 <div id='<?=$albumSlideshowUrl?>' class='padding-25-0'>
				<?php echo $sPhotos; ?>
			 </div>
		</div>
   </div>
</div>