<div class="header-area clearfix">   
   <div class="logo col-md-12 padding-40-0 text-center text-shadow">
      <h2 class="main"><a href=""><?=$this->restaurant->getName()?></a></h2>
   </div>
</div>


<div class="menu clearfix">
   <div class="col-md-12 container">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>

<div class="review-area padding-40-0 clearfix">
   <div class="container standards reviews">
		<h1>Reviews</h1>
		<?php	
			$reviews = $this->restaurant->getReviews();
			if ( !$reviews->getTotal() ) {
				echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
			}else{
				foreach ( $reviews->getItems() as $review ) { ?>
		<div class="single-review padding-0-0-20 margin-0-auto-20" itemscope itemtype="http://schema.org/Product">
			<div class="pull-left user-thumb">
				<img itemprop="image" width="60" src="<?=$this->baseUrl('/tr/themes/ch/theme5/img/no-image.gif');?>" alt="<?=$review->getCustomer()->getName()?>" />
			</div>
			<meta itemprop='name' content='<?php echo $this->restaurant->getName();?>'/>
			<div itemprop="review" itemscope itemtype="http://schema.org/Review" class="review-details">
				<div class="title-price">
					<span class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
						<p class="title pull-left" itemprop='name'><?=$review->getCustomer()->getName()?></p>
					</span>
					<span class='publish-date' itemprop='datePublished'>On <?=$review->getTs('d F Y')?></span>
					<span class="stars pull-right" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
						<?php
							$rating = $review->getRating();
							echo '<meta itemprop="ratingValue" content="'.$rating.'"/>';
							echo '<meta itemprop="bestRating" content="5"/>';
							for ($i=1; $i <= 5; $i++) {
								$class = 'fa fa-star-o';
								if ($i <= $rating) {
									$class = 'fa fa-star';
								}
								echo '<i class="'.$class.'"></i>';
							}
						?>
					</span>
					<span class="review-details" itemprop="reviewBody"><?=$review->getText()?></span>
				</div>
				<div class="clearfix"></div>
				<div class="description">
					
				</div>
			</div>
		</div>
		<?php } } ?>
		<nav>
			<ul class="pagination">
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li class=""><a href="#">2 <span class="sr-only">2</span></a></li>
				<li class=""><a href="#">3 <span class="sr-only">3</span></a></li>
				<li class=""><a href="#">4 <span class="sr-only">4</span></a></li>
				<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			</ul>
		 </nav>

		 <div class="col-md-5" style="padding:0">
			<?php 
			$form = $this->reviewForm();
			echo $form->getHtml();
			?>
		 </div>
	</div>
</div>