@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
body {
	font-family: "Open Sans",sans-serif;
   background: #F5F5F1;
}

a{
	transition: all .4s ease-in-out 0s;
}

/* Default styles */
.padding-0{
   padding: 0;
}
.padding-0-0-15{
   padding: 0 0 15px;
}
.padding-0-0-20{
   padding: 0 0 20px;
}
.padding-0-0-25{
   padding: 0 0 25px;
}
.padding-25-0{
   padding: 25px 0;
}
.padding-30-0{
   padding: 30px 0;
}
.padding-35-0{
   padding: 35px 0;
}
.padding-40-0{
   padding: 40px 0;
}
.padding-0-15-25{
   padding: 0 15px 25px;
}
.padding-0-0-50{
   padding: 0 0 50px;
}
.padding-50-0{
   padding: 50px 0;
}


.margin-0{
   margin: 0;
}
.margin-0-auto-20{
   margin: 0 auto 20px;
}
.margin-5-auto{
   margin: 5px auto;
}
.margin-10-auto{
   margin: 10px auto;
}
.margin-25-0{
   margin: 25px 0;
}
.margin-25-auto{
   margin: 25px auto;
}
.margin-15-auto-0{
   margin: 15px auto 0;
}
.margin-50-0{
   margin: 50px 0;
}
.margin-50-0-0{
   margin: 50px 0 0;
}
.margin-25-0-0{
   margin: 25px 0 0;
}
.margin-top-150{
   margin-top: 150px;
}


.text-shadow{
   text-shadow: 1px 1px 2px #333
}


.line-height-23{
   line-height: 23px;
}
.line-height-25{
   line-height: 25px;
}
.line-height-30{
   line-height: 30px;
}
.line-height-35{
   line-height: 35px;
}
.use-background-image{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.color-fff{
   color: #fff !important;
}
.color-333{
   color: #333 !important;
}

.use-background-image{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* header styles */
div.slicknav_menu a.slicknav_btn {
    background: #fff none repeat scroll 0 0;
}
div.slicknav_menu a.slicknav_btn span.slicknav_icon-bar {
    background: rgb(88, 105, 95) none repeat scroll 0 0;
}
ul.slicknav_nav li a:hover {
    background: rgb(111, 133, 120) none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}


div.slicknav_menu{
background: rgb(88, 105, 95) none repeat scroll 0 0;
border-bottom: 1px solid rgb(111, 133, 120);
display: none;
padding-bottom: 15px;
}
div.header-area{

}
div.socials{
background: rgb(88, 105, 95) none repeat scroll 0 0;
border-bottom: 1px solid rgb(111, 133, 120);
padding: 0;
}
div.socials a {
  border-right: 1px solid rgb(111, 133, 120);
  color: rgb(138, 157, 146);
  display: block;
  float: left;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
div.socials a:hover {
  color: #fff;
}

div.logo{
background: rgb(88, 105, 95) url("img/textured_paper.png") repeat scroll left top;
overflow: hidden;
position: relative;   
}
div.logo h2{
font-family: "Pacifico",cursive;
font-size: 65px;
}
div.logo h2 a{
   color: rgb(199, 187, 115);
}
div.logo h2 a:hover{
   color: rgb(255, 255, 255);
   text-decoration: none;
}
div.logo h2::after {
  border-bottom: 1px solid rgb(138, 157, 146);
  content: "";
  display: block;
  margin: 50px auto 30px;
  width: 110px;
}
div.logo p.slogan{
color: rgb(199, 187, 115);
font-size: 30px;
font-weight: 300;
text-shadow: none;
font-family: 'Open Sans', sans-serif;
}

/* menu styles */
div.menu {
background: rgb(255, 255, 255) none repeat scroll 0 0;
border-bottom: 1px solid rgb(234, 235, 227);
}
div.menu ul#nav {
  margin: 0;
}
div.menu ul#nav li {
  display: inline-block;
}
div.menu ul#nav li a {
color: rgb(68, 68, 68);
display: inline-block;
padding: 35px 25px;
text-transform: uppercase;
font-weight: bold;
}
div.menu ul#nav li a:hover{
   text-decoration: none;
   color: rgb(0, 0, 0);
}

div.slogan {
  background: rgba(0, 0, 0, 0) url("img/bg_slogan.png") repeat scroll 0 0;
  margin-top: 150px;
  margin-bottom: 150px;
}
div.slogan h1{
font-family: "Archivo Black",sans-serif;
font-size: 60px;
margin: 15px auto 50px;
}
div.slogan h3 {
  font-size: 30px;
  margin: 0 auto 28px;
}


/* menu page styles */

div.single-menu-item div.menu-details div.title-price span p {
    color: rgb(88, 105, 95);
    font-size: 25px;
    font-weight: 600;
}
div.single-menu-item div.menu-details div.description p {
    line-height: 28px;
}

div.menus div.single-menu-item ul.list-group li span.description {
  display: block;
}

/* gallery */

div.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  -o-column-gap: 0;
  column-gap: 0;
  line-height: 0;
}
div.gallery a img{
   max-width: 100%;
   height: auto;
}
div.gallery-hover{
   margin-bottom: -100px;
}
div.gallery a img:hover div.gallery-hover{
   margin-bottom: 0px
}


div.standards h1 {
  margin: 0 auto 45px;
}

/* review style */
div.reviews div.single-review div.user-thumb {
    padding-right: 20px;
}
div.reviews div.single-review div.review-details div.title-price p {
    font-size: 20px;
}
div.reviews div.single-review div.review-details div.title-price span.publish-date {
  display: inline-block;
  font-style: italic;
  padding-left: 12px;
  padding-top: 5px;
  font-size: 13px;
}
div.reviews div.single-review div.review-details div.title-price span.stars i{
	font-size: 20px;
}
div.reviews div.single-review div.review-details div.title-price span.review-details {
  display: block;
  margin-top: 20px;
}


/* offers page styles */

div.sng_off p.ttl, div.sng_off ul li:first-child span {
    font-size: 20px;
}
div.sng_off ul li {
    font-size: 16px;
    line-height: 30px;
}


/* footer bottom */

div.footer-bottom-area{
background: rgb(88, 105, 95) none repeat scroll 0 0;
border-bottom: 1px solid rgb(111, 133, 120);
}
div.footer-bottom p, div.footer-bottom p strong a {
  margin: 0;
  color: rgb(138, 157, 146);
}