<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <?php echo $this->headTitle() ?>
      <?php echo $this->headMeta();?>
      <?php echo $this->headScript();?>
      <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="<?=$this->baseUrl('favicon.ico');?>" />
		<link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/slicknav.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/normalize.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme9/style.css');?>">
      <link rel="stylesheet" href="<?=$this->baseUrl('/tr/themes/ch/theme9/responsive.css');?>">
	  <script src="<?=$this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <?php echo $this->headLink() ?>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
	<div id="wrap">
	  <div class="header-area clearfix">
      <div class="branding">
            <div class="logo col-md-7 pull-left">&nbsp;</div>
            <div class="top-address col-md-5 theme_color text-right">
                <?php
                    if ( $this->restaurant->getAddress()->getCountry() ) {
                       echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant) . "<br/>";
                    }
                    
                    if ($this->restaurant->getPhoneTakeaway()) {
                        echo "<a href='tel:{$this->restaurant->getPhoneTakeaway()}'><i class='fa fa-mobile-phone'></i> {$this->restaurant->getPhoneTakeaway()}</a>";
                    } elseif ($this->restaurant->getPhoneReservation()) {
                        echo "<a href='tel:{$this->restaurant->getPhoneReservation()}'><i class='fa fa-mobile-phone'></i> {$this->restaurant->getPhoneReservation()}</a>";
                    }
                ?>
            </div>
        </div>
		<div class="header col-md-12">
			<div class="menu">
				<ul id="nav" class="text-center list-unstyled">
					 <li><a href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getPageHome()->getDisplayName()?></a></li>
					 <li><a href="<?=$this->restaurant->getUrl('menu')?>"><?=$this->restaurant->getPageMenu()->getDisplayName()?></a></li>
					 <?=( $this->restaurant->getShowPageReviews() ?
						"<li><a href='{$this->restaurant->getUrl('reviews')}'>{$this->restaurant->getPageReviews()->getDisplayName()}</a></li>" : ""
					 )?>
					 
					<span class="logo">
                        <a href="<?=$this->restaurant->getUrl('home')?>">
						<?=($this->restaurant->getLogo() ? $this->restaurant->getLogo('', null) : $this->restaurant->getName())?>
						</a>
                    </span>
					 
					 <?=( $this->restaurant->getShowPageVideos() ?
						"<li><a href='{$this->restaurant->getUrl('videos')}'>{$this->restaurant->getPageVideos()->getDisplayName()}</a></li>" : ""
					 )?>
					 <?=( $this->restaurant->getShowPagePhotos() ?
						"<li><a href='{$this->restaurant->getUrl('photos')}'>{$this->restaurant->getPagePhotos()->getDisplayName()}</a></li>" : ""
					 )?>
					 <?=( $this->restaurant->getShowPageOffers() ?
						"<li><a href='{$this->restaurant->getUrl('offers')}'>{$this->restaurant->getPageOffers()->getDisplayName()}</a></li>" : ""
					 )?>
				</ul>
			</div>
		</div>
       </div>
	   
	   <?php echo $this->layout()->content; ?>
		
	</div> <!-- end wrap -->
		
		<div class="footer-area col-lg-12  col-md-12 clearfix">
			<div class="footer col-md-offset-1 col-md-10">
				<ul class="footer-menu list-unstyled text-center">
					 <li><a href="<?=$this->restaurant->getUrl('home')?>">Home</a></li>
					 <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
					 <?=( $this->restaurant->getShowPageReviews() ?
						"<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
					 )?>
					 <?=( $this->restaurant->getShowPageVideos() ?
						"<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
					 )?>
					 <?=( $this->restaurant->getShowPagePhotos() ?
						"<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
					 )?>
					 <?=( $this->restaurant->getShowPageOffers() ?
						"<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
					 )?>
				</ul>
                
                <ul class="socials list-unstyled text-center">
				<li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
				<li><a href="http://twitter.com/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
				</ul>
                
				<div class="copyright theme_color text-center">
					<p><?=$this->restaurant->getWebsitePoweredByText();?> | Designed & Developed By 
						<a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
						<br/><small><?=$this->restaurant->getSubUnsubLink();?></small>
					</p>
				</div>
			</div>
		</div>
		
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="<?=$this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
      <script src="<?=$this->baseUrl('/tr/vendor/js/main.js');?>"></script>
      <script src="<?=$this->baseUrl('/tr/themes/ch/theme9/theme.js');?>"></script> 
   </body>
</html>