<div class="reservation text-center">
	<?php echo $this->restaurant->getThemeViewHelpers()->printPhoneNumbers($this->restaurant);?>
</div>

<div class="content-area menu-page clearfix">
	<div class="content-inner clearfix col-md-offset-1 col-md-10">
		<div class="contents">
			<div class="menu-top">
				<?php
					$page = $this->restaurant->getPage('menu');
					echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
				?>
			</div>
			
			<div class="sidebar col-md-4 col-sm-4 clearfix">
				<h2>menu types</h2>
				
				<ul class="list-unstyled">
				<?php
					$categories = $this->restaurant->getMenu()->getNormalCategories();
					if ( !empty( $categories ) ) {
						foreach ( $categories->getItems() as $category ) {
							echo "<li><a class='color-fff' href='#{$category->getName()}'>{$category->getName()}</a></li>";
						}
					}else{
						echo $this->restaurant->getThemeViewHelpers()->alert('No published menu item found.');
					}
				?>
				</ul>
			</div>
			
			<div class="right-content col-md-8 col-sm-8">
				<div class="menus-details">
					<?php
                        $menu = $this->restaurant->getMenu();
                        $id = 0;
                        $categories = $menu->getNormalCategories();
                        $spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
                        $recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
                        if ( !empty($categories) ) {
                           foreach ( $categories->getItems() as $category ) {
                           $id++;
                     ?>
                    <div class="single-item" id="<?=$category->getName();?>">
						<div class="image">
							<?php 
								if ( $category->getImage() ) {
									$imageSrc = $category->getImage()->getThumbnailUrl();
									echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
								}
							?>
						</div>
						<div class="others">
							<h3 class="title" itemprop="name"><?=$category->getName()?></h3>
							<p class="description" itemprop='description'>
							<?php
							   if ( $category->getDescription() ) {
								  echo "{$category->getDescription()}";
							   }
							?>
							</p>
						</div>
						
						<ul class="list-group">
							<?php
							   $currency = $this->restaurant->getCurrencySymbol();
							   foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
							?>
							<li class="list-group-item" itemscope itemtype="http://schema.org/Product">
							   <meta itemprop="brand" content="<?=$category->getName()?>" />
							   <span class="name" itemprop="name"><?=$foodItem->getName()?></span>
							   <span class="pull-right item-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								  <meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
								  <?=$currency?>
								  <span itemprop="price">
									 <?=$foodItem->getPrice()?>
								  </span>
								  <?=$recommendButton->printButton($foodItem)?>
							   </span>
							   <?=$spiceLevel->printImage($foodItem)?>
							   <?php
								  if ($foodItem->getDescription()) {
									 echo "<span class='description' itemprop='description'>{$foodItem->getDescription()}</span>";
								  }
							   ?>
							</li>
							<?php }	?>
						</ul>
						<a href="#top" class="back-to-top">Back to top</a>
					</div>
                    <?php } }else{
						echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
						}
					?>
				</div>
				
				<div class="classic-categories">
                  <?php
                  $categories = $menu->getClassicCategories();
                  if (!empty($categories)) {
                  $content = '';
                  foreach($categories->getItems() as $category) { ?>
                  <div class="single-item clearfix">
						<div class="image">
						  <?php 
								if ( $category->getImage() ) {
									$imageSrc = $category->getImage()->getThumbnailUrl();
									echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
								}else{
									$imageSrc = $this->baseUrl('/tr/themes/ch/theme9/img/1.jpg');
									echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
								}
							?>
						</div>
						<div class="others">
							<h3 class="title"><?=$category->getName();?></h3>
							<div class="clearfix"></div>
							  <div class="description">
								<?php
									$content .= "<table class='table table-bordered '>";
									$content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
									if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
									if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
									if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
									if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
									if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
									if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
									if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
									if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
									$content .= "</tr></thead>";
									$content .= "<tbody>";

									foreach($category->getFoodItems()->getItems() as $item) {
										$content .= "<tr>";
										//$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
										$content .= "<td>{$item->getName()}&ensp;{$spiceLevel->printImage($item)} <br/><p class='sub-description'>{$item->getDescription()}</p></td>";
										$content .= "<td><span class=' item-price'>{$currency}{$item->getPrice()}</span></td>";

										$content .= ($category->getShowChickenLambTikkaPrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPriceChickenLambTikka()}</span></td>" : "");
										$content .= ($category->getShowLambPrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPriceLamb()}</span></td>" : "");
										$content .= ($category->getShowBeefPrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPriceBeef()}</span></td>" : "");
										$content .= ($category->getShowDuckPrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPriceDuck()}</span></td>" : "");
										$content .= ($category->getShowPrawnPrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPricePrawn()}</span></td>" : "");
										$content .= ($category->getShowKingPrawnPrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPriceKingPrawn()}</span></td>" : "");
										$content .= ($category->getShowVegetablePrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPriceVegetable()}</span></td>" : "");
										$content .= ($category->getShowMixedPrice()
										?  "<td><span class=' item-price'>{$currency}{$item->getPriceMixed()}</span></td>" : "");
										$content .= "</tr>";
									}

									$content .= "</tbody></table>";
									echo $content;
								?>
							  </div>
						</div>
						<a href="#top" class="back-to-top">Back to top</a>
                  </div>
               <?php } ?>                    
               <?php } ?>
               </div>
			</div>
		</div>
	</div>
</div>