<div class="reservation text-center">
	<?php echo $this->restaurant->getThemeViewHelpers()->printPhoneNumbers($this->restaurant);?>
</div>

<div class="content-area gallery-page clearfix">
	<div class="content-inner clearfix col-md-offset-1 col-md-10">
		<div class="contents">
			<div class="menu-top">
				<?php
					$page = $this->restaurant->getPage('offers');
					echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
				?>
			</div>
			
			<div class="offers-area">
				<?php
					  $specialOffers = $this->restaurant->getOffers();
					  echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
				 ?>
			</div>
		</div>
	</div>
</div>