@media only screen and (min-width: 992px) and (max-width: 1199px) {

div.content-area div.contents div.menu-top h2.menu-title::before, div.content-area div.contents div.menu-top h2.menu-title::after {
  width: 100px;
}
div.content-area div.contents div.menu-top h2.menu-title {
	font-size: 22px;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

div.content-area {
  padding: 50px 15px;
}

ul#nav li {
  margin: 2px 13px;
}

ul#nav span.logo a {
  font-size: 35px;
}

div.content-area div.contents div.menu-top h2.menu-title::before, div.content-area div.contents div.menu-top h2.menu-title::after {
  width: 100px;
}
div.content-area div.contents div.menu-top h2.menu-title {
	font-size: 22px;
}


}





@media only screen and (max-width: 767px) {

div.content-area {
  padding: 50px 15px;
}

div.slicknav_menu {
  background: #000 none repeat scroll 0 0;
  display: block !important;
  border-bottom: 1px solid #9d7653;
}
.slicknav_nav {
  margin: 15px auto;
}
.slicknav_btn {
  background-color: #9d7653;
}
.slicknav_nav a {
  color: #9d7653;
  font-size: 25px;
}
.slicknav_nav a:hover {
  background: #9d7653;
  color: #fff;
  text-decoration: none;
}
div.header{
	display: none;
}
div.top-address {
  margin: 15px auto;
  text-align: center;
}
div.content-area div.content-inner div.contents {
  padding: 45px 0px;
}
div.content-area div.contents div.menu-top h2.menu-title::before, div.content-area div.contents div.menu-top h2.menu-title::after {
  width: 100px;
}
div.content-area div.contents div.menu-top h2.menu-title {
	font-size: 22px;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu {
  padding: 0 25px;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu div.description img {
  width: auto;
}
div.sidebar {
  border-bottom: 1px solid #f3eade;
  border-top: 1px solid #f3eade;
}
div.sidebar ul {
  margin-bottom: 20px;
}
div.reviews-area {
  padding: 0 10px;
}
div.single-offer {
  border-bottom: 1px solid #f3eade;
  margin-bottom: 30px;
  padding-bottom: 25px;
  text-align: center;
}
div.offers-area div.single-offer img {
  display: block;
  margin: 0 auto;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px) {

div.content-area div.contents div.menu-top h2.menu-title::before, div.content-area div.contents div.menu-top h2.menu-title::after {
  display: none;
}
div.devider::before, div.devider::after {
  width: 100px;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu {
  border-bottom: 1px solid #f3eade;
  margin-bottom: 20px;
  padding: 0 25px 30px;
  text-align: center;
  width: 100%;
}

}


@media only screen and (max-width: 479px) {

div.menus-details div.single-item ul li{
  text-align: center;
}div.menus-details div.single-item ul li span.name {
  display: block;
  float: none !important;
  text-align: center;
}
div.menus-details div.single-item ul li span.item-price {
  float: none !important;
  text-align: center;
}
div.content-area div.contents div.menu-top h2.menu-title::before, div.content-area div.contents div.menu-top h2.menu-title::after {
  display: none;
}
div.content-area div.contents div.menu-top h2.menu-title {
	line-height: 30px;
}
div.devider::before, div.devider::after {
  width: 40px;
}
div.content-area div.content-inner div.contents div.menu-section div.single-menu {
  border-bottom: 1px solid #f3eade;
  margin-bottom: 20px;
  padding: 0 25px 30px;
  text-align: center;
  width: 100%;
}
div.quote-area div.quote-inner {
  background: #f5f5f5 url("img/Quote.png") no-repeat scroll 50% 25px;
  padding-left: 19px;
  padding-top: 115px;
  text-align: center;
}

div.reviews-area div.single-review div.user-thumb {
  width: 100%;
  padding: 0;
}
div.reviews-area div.single-review div.user-thumb img {
  display: block;
  margin: 0 auto 15px;
}
div.review-details div.title-price span p, div.review-details div.title-price span {
  display: block;
  float: none !important;
  text-align: center;
}

}


