<div class="reservation text-center">
	<?php echo $this->restaurant->getThemeViewHelpers()->printPhoneNumbers($this->restaurant);?>
</div>

<div class="content-area gallery-page clearfix">
	<div class="content-inner clearfix col-md-offset-1 col-md-10">
		<div class="contents">
			<div class="menu-top">
				<?php
					$page = $this->restaurant->getPage('videos');
					echo $this->restaurant->getThemeViewHelpers()->printPageInfo($page);
				?>
			</div>
			
			<div class="videos-area">                
				<?php
				   $videoPlayer = null;
				   $videos = $this->restaurant->getVideos();
				   $page = $this->restaurant->getPage('videos');
				?>                  
				 <?php 
					 if ( !$videos->getTotal() ) {
						 echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
					 }else{
					 foreach($videos->getItems() as $video) {
						echo '<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 single-video theme_color" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
						$videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
						echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
						echo "<span itemprop='description'/>{$video->getDescription()}</span>";
						echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
						echo $video->getYoutubePlayer(array('width'=> '700px'));
                        echo "<h4 itemprop='name'>{$video->getTitle()}</h4>";
						echo '</div>';	
					 } 
					}
				 ?>
			</div>
		</div>
	</div>
</div>