	<div class="main-content clearfix">
		<div class="left-content menus col-md-8">
			<?php
				$pageInfo = $this->restaurant->getPage('menu');
				echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
				$menu = $this->restaurant->getMenu();
				$categories = $menu->getNormalCategories();
				$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
				$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
				if ( !empty($categories) ) {
					foreach ( $categories->getItems() as $category ) {
			?>
			<div class="single-menu-item padding-0-0-20 margin-0-auto-20">
				<div class="menu-details">
					<div class="title-price">
						<span><p class="title" itemprop="name"><?=$category->getName()?></p></span>
						<?php
							if ( $category->getImage() ) {
								$imageSrc = $category->getImage()->getThumbnailUrl();
								echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
							}else{
								$imageSrc = $this->baseUrl('/tr/themes/ch/theme7/img/1.jpg');
								echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
							}
						?>
					</div>
					<?php if ( $category->getDescription() ) { ?>
					<div class="description">
						<p class="" itemprop="description"><?=$category->getDescription()?></p>
					</div>
					<?php } ?>
				</div>
				<ul class="list-group">
				<?php
					$currency = $this->restaurant->getCurrencySymbol();
					foreach ( $category->getFoodItems()->getItems() as $foodItem ) {
				?>
					<li class="list-group-item" itemscope itemtype="http://schema.org/Product">
						<meta itemprop="brand" content="<?=$category->getName()?>" />
						<span itemprop="name"><?=$foodItem->getName()?></span> - 
						<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							<meta itemprop="priceCurrency" content="<?=$this->restaurant->getWebsiteCurrency()?>" />
							<?=$currency?>
							<span itemprop="price">
								<?=$foodItem->getPrice()?>
							</span>
							<?=$recommendButton->printButton($foodItem)?>
						</span>
						<?=$spiceLevel->printImage($foodItem)?>
						<?php
							if ($foodItem->getDescription()) {
								echo "<span class='text-info description' itemprop='description'>{$foodItem->getDescription()}</span>";
							}
						?>
					</li>
				<?php   
					}
				?>
			  </ul>
			  <a href="#top" class="back-to-top">Back to top</a>
			</div>
			<?php } }else{
					echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
				  }
			?>
			<div class="clearfix"></div>
		
			<?php
				$categories = $menu->getClassicCategories();
				if (!empty($categories)) {
					$content = '';
					foreach($categories->getItems() as $category) {
			?>
			<div class="single-menu-item classic-categories padding-0-0-20 margin-0-auto-20">
				<div class="menu-details">
					<div class="title-price">
						<span><p class="title" itemprop="name"><?=$category->getName()?></p></span>
						<?php
							if ( $category->getImage() ) {
								$imageSrc = $category->getImage()->getThumbnailUrl();
								echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
							}else{
								$imageSrc = $this->baseUrl('/tr/themes/ch/theme7/img/1.jpg');
								echo "<img class='img-responsive' src='{$imageSrc}' alt='' />";
							}
						?>
					</div>
					<div class="description">
						<?php
							$content .= "<table class='table table-bordered '>";
							$content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
							if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
							if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
							if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
							if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
							if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
							if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
							if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
							if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
							$content .= "</tr></thead>";
							$content .= "<tbody>";

							foreach($category->getFoodItems()->getItems() as $item) {
							  $content .= "<tr>";
							  //$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
							  $content .= "<td>{$item->getName()}&ensp;{$spiceLevel->printImage($item)} <br/><p class='text-info'>{$item->getDescription()}</p></td>";
							  $content .= "<td>{$currency}{$item->getPrice()}</td>";

							  $content .= ($category->getShowChickenLambTikkaPrice()
							  ?  "<td>{$currency}{$item->getPriceChickenLambTikka()}</td>" : "");
							  $content .= ($category->getShowLambPrice()
							  ?  "<td>{$currency}{$item->getPriceLamb()}</td>" : "");
							  $content .= ($category->getShowBeefPrice()
							  ?  "<td>{$currency}{$item->getPriceBeef()}</td>" : "");
							  $content .= ($category->getShowDuckPrice()
							  ?  "<td>{$currency}{$item->getPriceDuck()}</td>" : "");
							  $content .= ($category->getShowPrawnPrice()
							  ?  "<td>{$currency}{$item->getPricePrawn()}</td>" : "");
							  $content .= ($category->getShowKingPrawnPrice()
							  ?  "<td>{$currency}{$item->getPriceKingPrawn()}</td>" : "");
							  $content .= ($category->getShowVegetablePrice()
							  ?  "<td>{$currency}{$item->getPriceVegetable()}</td>" : "");
							  $content .= ($category->getShowMixedPrice()
							  ?  "<td>{$currency}{$item->getPriceMixed()}</td>" : "");
							  $content .= "</tr>";
							}

							$content .= "</tbody></table>";
							echo $content;
							?>
					</div>
				</div>
				<a href="#top" class="back-to-top">Back to top</a>
			</div>
			<?php } } ?>
		</div>