	<div class="main-content clearfix">
		<div class="left-content videos col-md-8">
			<?php
			  $sPhotos = null;
			  $albums = $this->restaurant->getAlbums();
			  $page = $this->restaurant->getPage('photos');
		   ?>
		   <?php
				$pageInfo = $this->restaurant->getPage('photos');
				echo $this->restaurant->getThemeViewHelpers()->printPageInfo($pageInfo);
			?>
		   <div class="single-menu-item videos-page padding-0-0-20 margin-0-auto-20">                  
			  <div class="all_videos all_photos clearfix">
				  <?php
				  if ( !$albums->getTotal() ) {
						echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
				  }else{
				  		$index = 0;
						foreach ($albums->getItems() as $album ) { 
							 $albumTitle = $album->getTitle();
							 $albumDesc = $album->getDescription();
							 $albumThumbUrl = $album->getThumbnailUrl();                        
							 $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
							 if ( $index == 0 && !isset($_GET['album_id'])) {
							 	echo "<div class='first-album-photos'>";
								echo "<h3>$albumTitle</h3>";
									foreach($album->getPhotos()->getItems() as $photo) {
										echo "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
										echo "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
										echo "</a>";
									}
							 	echo "</div>";
							 } else {							 
							 	echo "<div class='sng_photo col-lg-4 col-md-4 col-sm-4 text-center padding-0-0-25'>";
								echo "<h3>$albumTitle</h3>";
								  echo "<a href='$albumSlideshowUrl' title='$albumTitle'>";
										echo "<img height='200' src='$albumThumbUrl' class='img-responsive img-thumbnail' alt='$albumTitle'>";
										echo "<div>$albumTitle</div>";
								  echo "</a>";
							 	echo "</div>";
							 }
							 
							 if (isset($_GET['album_id']) && $album->getId() == $_GET['album_id']) {
								  foreach($album->getPhotos()->getItems() as $photo) { 
										$sPhotos .= "<a class='fancybox' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' rel='group'>";
											 $sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
										$sPhotos .= "</a>";
								  }
							 }
							 
							 $index++;
						 }
					} ?>
				</div>
					<?php if (isset($_GET['album_id']) ) { ?> 
					 <div id='album-photos <?=$_GET['album_id']?>' class='padding-25-0'>
						<?php echo $sPhotos; ?>
					 </div>
					<?php } ?>
			</div>
		</div>