@media only screen and (min-width: 992px) and (max-width: 1199px) {


}



@media only screen and (min-width: 768px) and (max-width: 991px) {
div.web-wrapper {
  margin: 50px 15px;
}
div.right-content {
  margin-top: 50px;
}
}





@media only screen and (max-width: 767px) {
.slicknav_menu {
  background: #3399ff none repeat scroll 0 0;
  display: block !important;
}
div.menu {
  display: none !important;
}
div.web-wrapper {
  margin: 50px 15px;
}
div.right-content {
  margin-top: 50px;
}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
div.single-video {
  text-align: center;
}


}


@media only screen and (max-width: 479px) {

div.logo h2 {
  font-size: 45px;
}
div.logo p.slogan {
  font-size: 20px;
}
div.header h1 {
  font-size: 55px;
}

div.reviews div.single-review div.review-details div.title-price span.author-name {
  padding-right: 0;
}
div.reviews div.single-review div.review-details div.title-price span.author-name p, div.reviews div.single-review div.review-details div.title-price span.publish-date, div.reviews div.single-review div.review-details div.title-price span.stars {
    display: block;
    float: none !important;
    text-align: center;
}
div.reviews div.single-review div.user-thumb {
    float: none !important;
    padding: 0;
}
div.reviews div.single-review div.user-thumb img {
    display: block;
    margin: 0 auto 15px;
}
div.reviews div.single-review div.review-details div.title-price span.review-details {
    text-align: center;
}
div.single-video {
  text-align: center;
}
div.sng_photo {
  margin-bottom: 25px;
}

}


