<div class="header-area use-background-image clearfix">
   <div class="socials col-md-12">
      <ul class="list-unstyled text-right">
      	 <li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
         <li><a href="/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
      </ul>
   </div>
   
   <div class="logo col-md-12 color-fff text-center text-shadow">
      <h2 class=""><i class="fa fa-cutlery"></i> <?=( $this->restaurant->getName() )?></h2>
      <p class=""><?=( $this->restaurant->getSlogan() ? $this->restaurant->getSlogan() : 'Your slogan here')?></p>
   </div>
   
   <div class="menu col-md-12">
      <ul id="nav" class="list-unstyled text-center">
         <li><a href="<?=$this->restaurant->getUrl('home');?>">Home</a></li>
         <li><a href="<?=$this->restaurant->getUrl('menu');?>">Menu</a></li>
         
         <?=( $this->restaurant->getShowPageReviews() ?
            "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageVideos() ?
            "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPagePhotos() ?
            "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a></li>" : ""
         )?>
         <?=( $this->restaurant->getShowPageOffers() ?
            "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a></li>" : ""
         )?>
      </ul>
   </div>
</div>


<div class="container our-menu reviews padding-50-0 clearfix">
   <h1>Reviews</h1>
	<?php	
		$reviews = $this->restaurant->getReviews();
		if ( !$reviews->getTotal() ) {
			echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
		}else{
			foreach ( $reviews->getItems() as $review ) { ?>
   <div class="single-menu-item padding-0-0-20 margin-0-auto-20" itemscope itemtype="http://schema.org/Product">
		<meta itemprop='name' content='<?php echo $this->restaurant->getName();?>'/>
      <div class="pull-left menu-thumb">
         <img itemprop="image" width="60" src="<?=$this->baseUrl('/tr/themes/ch/theme5/img/no-image.gif');?>" alt="" />
      </div>
      <div class="menu-details review-details" itemprop="review" itemscope itemtype="http://schema.org/Review">
         <div class="title-price">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<p itemprop='name' class="title pull-left"><?=$review->getCustomer()->getName()?></p>
				</span>
				<span class='datePublished' itemprop='datePublished'>On <?=$review->getTs('d F Y')?></span>
            <p class="price pull-right" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
					<?php
						$rating = $review->getRating();
						echo '<meta itemprop="ratingValue" content="'.$rating.'"/>';
						echo '<meta itemprop="bestRating" content="5"/>';
						for ($i=1; $i <= 5; $i++) {
							$class = 'fa fa-star-o';
							if ($i <= $rating) {
								$class = 'fa fa-star';
							}
							echo '<i class="'.$class.'"></i>';
						}
					?>
				</p>
         </div>
         <div class="description">
            <p class="" itemprop='reviewBody'><?=$review->getText()?></p>
         </div>
      </div>
   </div>
	<?php } } ?>
	<nav>
		<ul class="pagination">
			<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			<li class=""><a href="#">2 <span class="sr-only">2</span></a></li>
			<li class=""><a href="#">3 <span class="sr-only">3</span></a></li>
			<li class=""><a href="#">4 <span class="sr-only">4</span></a></li>
			<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
		</ul>
	 </nav>

	 <div class="col-md-5" style="padding:0">
		<?php 
		$form = $this->reviewForm();
		echo $form->getHtml();
		?>
	 </div>
</div>