body {
	font-family: "Open Sans",sans-serif;
   color: rgb(102, 102, 102);
}

a{
	transition: all .4s ease-in-out 0s;
}

/* Default styles */
.padding-0{
   padding: 0;
}
.padding-0-0-15{
   padding: 0 0 15px;
}
.padding-0-0-20{
   padding: 0 0 20px;
}
.padding-0-0-25{
   padding: 0 0 25px;
}
.padding-25-0{
   padding: 25px 0;
}
.padding-0-15-25{
   padding: 0 15px 25px;
}
.padding-0-0-0-60{
   padding: 0 0 0 60px;
}
.padding-50-0{
   padding: 50px 0;
}
.padding-100-0{
   padding: 100px 0;
}
.padding-150-0{
   padding: 150px 0;
}
.padding-200-0{
   padding: 200px 0;
}
.padding-0-0-150{
   padding: 0 0 150px;
}
.padding-top-90{
   padding: 90px !important;
}


.margin-0{
   margin: 0;
}
.margin-0-auto-20{
   margin: 0 auto 20px;
}
.margin-5-auto{
   margin: 5px auto;
}
.margin-10-auto{
   margin: 10px auto;
}
.margin-25-0{
   margin: 25px 0;
}
.margin-25-auto{
   margin: 25px auto;
}
.margin-15-auto-0{
   margin: 15px auto 0;
}
.margin-50-0{
   margin: 50px 0;
}
.margin-50-0-0{
   margin: 50px 0 0;
}
.margin-25-0-0{
   margin: 25px 0 0;
}
.margin-top-150{
   margin-top: 150px;
}


.text-shadow{
   text-shadow: 1px 1px 2px #333
}


.line-height-23{
   line-height: 23px;
}
.line-height-25{
   line-height: 25px;
}
.line-height-30{
   line-height: 30px;
}
.line-height-35{
   line-height: 35px;
}
.use-background-image{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.color-fff{
   color: #fff !important;
}
.color-333{
   color: #333 !important;
}

.use-background-image{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* header styles */
div.slicknav_menu{
   display: none;
}
div.header-area{
   background-image: url("img/home-screen2.jpg");
   padding: 10px 0;
}
div.socials ul li {
  display: inline-block;
}
div.socials ul li a {
text-decoration:none;
}
div.socials ul li a i {
background-color: rgba(255, 255, 255, 0.5);
border-radius: 100%;
color: rgb(0, 0, 0);
display: block;
font-size: 20px;
padding: 10px;
transition: all .4s ease-in-out 0s;
}
div.socials ul li a i.fa-facebook{
   padding: 10px 14px;
}
div.socials ul li a i:hover{
   color: #fff;
}

div.logo h2{

}


/* menu styles */
div.menu {
  background: rgba(0, 0, 0, 0) url("img/bg_nav.png") repeat scroll 0 0;
  border-bottom: 1px dashed rgb(187, 187, 187);
  border-top: 1px dashed rgb(187, 187, 187);
  margin: 20px auto;
}
div.menu ul#nav {
  margin: 0;
}
div.menu ul#nav li {
  display: inline-block;
}
div.menu ul#nav li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
}
div.menu ul#nav li a:hover{
   text-decoration: none;
}

div.slogan {
  background: rgba(0, 0, 0, 0) url("img/bg_slogan.png") repeat scroll 0 0;
  margin-top: 150px;
  margin-bottom: 150px;
}
div.slogan h1{
font-family: "Archivo Black",sans-serif;
font-size: 60px;
margin: 15px auto 50px;
}
div.slogan h3 {
  font-size: 30px;
  margin: 0 auto 28px;
}



/* menu section home page */

ul.home-menu-item li{
	background: none;
}


/* service */
div.single-service p.title {
  font-size: 18px;
}

/* menu page */
div.our-menu {
  min-height: 500px;
}
div.our-menu h1{
   color: rgb(134, 134, 134);
   font-size: 50px;
   font-weight: 100;
   margin: 0 auto 50px;
}
div.single-menu-item{
   border-bottom: 1px solid rgb(238, 238, 238);
}
div.menu-thumb {
    width: 60px;
}
div.title-price{
   overflow: hidden;
}
div.menu-details {
    font-weight: 100;
}
div.menu-details span p.title, div.menu-details p.price {
    font-size: 22px;
	 color: rgb(229, 77, 27)
}
div.menu-details div.title-price span.datePublished {
display: inline-block;
font-style: italic;
padding: 6px 20px;
vertical-align: middle;
}
div.menu-details p.price {
    color: rgb(229, 77, 27);
    overflow: hidden;
}
div.description p {
    line-height: 28px;
}

div.single-menu-item ul.list-group li.list-group-item span.description {
  display: block;
}

/* Reviews */

div.menu-details p.title span {
  font-size: 12px;
  font-style: italic;
}
div.review-details{
   padding-left: 80px;
}



/* featured */


div.single-featured img {
background: rgba(0, 0, 0, 0) url("img/featured-pattern.png") repeat scroll left top;
border-radius: 100%;
margin: 30px auto;
height: 300px;
padding: 15px;
transition: all 0.4s ease-in-out 0s;
width: 300px;
}
div.single-featured:hover img {
    transform: rotate(30deg);
}
div.featured-area h2 {
    color: rgb(134, 134, 134);
    font-family: "Open Sans",sans-serif
}
div.single-featured p.title{
   color: rgb(229, 77, 27);
   font-size: 20px;
}
div.single-featured a.readmore {
  background: rgb(217, 54, 0) url("img/bg_button.png") repeat-x scroll 50% 50%;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto;
  padding: 10px 30px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  width: 200px;
}
div.single-featured a.readmore:hover{
background-position: 50% 70%;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
color: rgb(255, 255, 255);
text-decoration: none;
}


/* videos */

div.videos-page {
  border-bottom: medium none;
}

div.videos-page div.sing_vid h5 {
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}



/* special offers */


div.sng_off p.ttl {
    font-family: inherit;
    font-size: 18px;
}
div.sng_off img {
    border-radius: 10px;
    height: 200px;
    margin: 0 auto 20px;
    width: 100%;
}
li.price {
  font-size: 23px;
}
ul.list-unstyled span li {
  font-size: 16px;
  line-height: 30px;
}


/* footer styles */

div.footer-area{
   background: rgb(17, 17, 17) none repeat scroll 0 0;
   color: rgb(153, 153, 153);
}
div.single-footer h3{
   color: rgb(229, 77, 27);
   font-size: 20px;
   margin-bottom: 40px;
}
div.single-footer h3 span.review-time {
  color: rgb(153, 153, 153);
  display: block;
  font-size: 12px;
  font-style: italic;
  margin: 5px auto 0;
}
div.single-footer a{
   color: inherit;
}

/* footer bottom */

div.footer-bottom-area{
background: rgb(34, 34, 34) none repeat scroll 0 0;
color: rgb(153, 153, 153);
padding: 20px 0;
}
div.footer-bottom p {
  margin: 0;
}