<?php $offers = $this->restaurant->getOffers(); ?>
<?php include($this->baseUrl('./themes/monir/chertsey/nav-menu.phtml'));?>

<div class="right-content col-md-8">
    <?php include($this->baseUrl('./themes/monir/chertsey/nav-menu2.phtml'));?>
    
    <div class="offers-area">
        <?php
              $specialOffers = $this->restaurant->getOffers();
              echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
         ?>
    </div>
</div>