@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

div.videos-area div.single-video {
  text-align: center;
}

}





@media only screen and (max-width: 767px) {

div.right-content div.top ul#nav {
  display: none;
}
div.slicknav_menu {
  background: #000 none repeat scroll 0 0;
  display: block !important;
  border-bottom: 1px solid #0073d2;
}
div.logo, div.top-address{
	width: 100%;
	text-align: center;
}
div.timing-info div.opening-info, div.timing-info div.contact-info {
  padding: 0;
  text-align: center;
}
div.copyright, div.developer-info{
	text-align: center;
}
div.copyright p{
	margin: 0;
}
div.offers-area div.single-offer {
  color: #ddd;
  margin-bottom: 15px;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px) {

div.top-address {
  margin-bottom: 15px;
}
div.videos-area div.single-video {
  margin-bottom: 19px;
  text-align: center;
}



}


@media only screen and (max-width: 479px) {

div.slider-area{
	display: none;
}
div.top-address {
border-bottom: 1px solid;
margin-bottom: 15px;
padding-bottom: 10px;
}
div.right-content div.post-content img {
  display: block;
  margin: 0 auto;
  float: none !important;
}
div.right-content div.post-content p {
  text-align: center;
}
div.reviews-area div.single-review div.user-thumb {
  width: 100%;
  padding: 0;
}
div.reviews-area div.single-review div.user-thumb img {
  display: block;
  margin: 0 auto 15px;
}
div.review-details div.title-price span p, div.review-details div.title-price span {
  display: block;
  float: none !important;
  text-align: center;
}

}


