<?php $reviews = $this->restaurant->getReviews(); ?>
<?php include($this->baseUrl('./themes/monir/chertsey/nav-menu.phtml'));?>

<div class="right-content col-md-8">
    <?php include($this->baseUrl('./themes/monir/chertsey/nav-menu2.phtml'));?>
    
    <div class="reviews-area">
        <?php	
            if ( !$reviews->getTotal() ) {
                echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
            }else{
                foreach ( $reviews->getItems() as $review ) { ?>
                    <div class="single-review" itemscope itemtype="http://schema.org/Product">
                        <div class="pull-left user-thumb">
                            <img itemprop="image" width="60" src="<?=$this->baseUrl('/tr/themes/ch/theme5/img/no-image.gif');?>" alt="<?=$review->getCustomer()->getName()?>" />
                        </div>
                        <meta itemprop='name' content='<?php echo $this->restaurant->getName();?>'/>
                        <div itemprop="review" itemscope itemtype="http://schema.org/Review" class="review-details">
                            <div class="title-price">
                                <span class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                    <p class="title pull-left" itemprop='name'><?=$review->getCustomer()->getName()?></p>
                                </span>
                                <span class='publish-date' itemprop='datePublished'>On <?=$review->getTs('d F Y')?></span>
                                <span class="stars pull-right" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <?php
                                        $rating = $review->getRating();
                                        echo '<meta itemprop="ratingValue" content="'.$rating.'"/>';
                                        echo '<meta itemprop="bestRating" content="5"/>';
                                        for ($i=1; $i <= 5; $i++) {
                                            $class = 'fa fa-star-o';
                                            if ($i <= $rating) {
                                                $class = 'fa fa-star';
                                            }
                                            echo '<i class="'.$class.'"></i>';
                                        }
                                    ?>
                                </span>
                                <span class="review-details" itemprop="reviewBody"><?=$review->getText()?></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            <?php } } ?>
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class=""><a href="#">2 <span class="sr-only">2</span></a></li>
                    <li class=""><a href="#">3 <span class="sr-only">3</span></a></li>
                    <li class=""><a href="#">4 <span class="sr-only">4</span></a></li>
                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>

         <div class="col-md-5" style="padding:0">
            <?php 
            $form = $this->reviewForm();
            $form->setSelectClasses('form-control width-50-percent')
            ->setTextareaClasses('form-control')
            ->setFormClasses('review-form')
            ->setSubmitClasses('btn btn-danger');

            echo $form->getHtml();
            ?>
         </div>

    </div>
</div>