html, body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
	
	background: #38052B; /* Old browsers */
	background: -moz-linear-gradient(top,  #38052B 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38052B), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #38052B 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #38052B 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #38052B 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #38052B 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38052B', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

/* Footer styles */
.footer{
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
  color: #fff;
  border-top: 1px solid #ddd;
  padding-top: 20px;
} 

a{
	transition: all .4s ease-in-out 0s;
}
.theme_color{
	color: #984343 !important;
}

div.slicknav_menu{
	display: none;
}

.gradient-background{
	background: #470735; /* Old browsers */
	background: -moz-linear-gradient(top,  #470735 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#470735), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #470735 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #470735 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #470735 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #470735 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#470735', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

div.branding {
  margin-top: 15px;
}
div.top-address {
  margin-top: 15px;
}
div.top-address span.address {
    color: #0073d2;
    display: block;
    font-size: 17px;
}
div.top-address a, div.top-address span.slash {
    color: #fff;
    font-size: 20px;
}
div.slider-area div.carousel a.carousel-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
div.slider-area div.carousel {
  margin-bottom: -20px;
}

.menus-details table{
	background-color : #fff;
	color: #0073d2;
}
.menus-details .list-group{
	background-color : #fff;
	color: #0073d2;
}

/* content styles */


.download-menu a {
    background: #210519 none repeat scroll 0 0;
    color: yellow;
    display: block;
    padding: 10px 35px 13px;
}
.download-menu a:hover {
    color: #5a0231;
    text-decoration: none;
}

.bottom p.popular-menu {
background: #1f0518 none repeat scroll 0 0;
color: #fff;
display: block;
font-size: 16px;
font-weight: bold;
padding: 10px 35px 13px;
}
.bottom ul li {
    background: #0a0108 none repeat scroll 0 0;
    margin: 4px auto;
}
.bottom ul li a {
    display: block;
    padding: 6px 10px;
	color: #fff;
}
.bottom ul li a:hover {
  background: #28041e none repeat scroll 0 0;
  border-right: 3px solid;
  color: yellow;
  text-decoration: none;
}

div.right-content {
    padding: 0;
}
div.right-content div.top ul#nav {
    background: #210519 none repeat scroll 0 0;
}
ul#nav li {
    display: inline-block;
    padding-right: 15px;
}
ul#nav li::after {
    color: #fff;
    content: " | ";
    margin-left: 15px;
}
ul#nav li:last-child::after {
    content: "";
    margin-left: 0;
}
ul#nav li a {
    color: #fff;
    display: inline-block;
    padding: 11px 0;
}
ul#nav li:last-child {
  padding-right: 0;
}


/* right sidebar styles */

div.right-content div.post-content {
    margin-top: 15px;
}
div.right-content div.post-content img {
    margin-right: 20px;
}
div.right-content div.post-content p.title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
div.right-content div.post-content p {
    color: #fff;
    text-align: justify;
}


div.special-offer {
  margin: 15px auto;
}
div.special-offer img {
  width: 100%;
}
div.timing-info div.opening-info {
	padding-left: 0;
}
div.timing-info div.contact-info {
	padding-right: 0;
}
div.timing-info div.opening-info div.inner, div.timing-info div.contact-info div.inner {
	background: url('img/Opening_hrs.gif');
	color: #f20383;
	padding: 15px;
	min-height: 155px;
}
div.timing-info div.opening-info div.inner p.open span, div.timing-info div.contact-info div.inner p.open span {
    display: block;
}
div.timing-info div.opening-info  p.ttl b, div.timing-info div.contact-info  p.ttl b {
    color: yellow;
}
/* menu page styles */

div.menus-details div.single-item {
    border-bottom: 1px solid #984343;
    margin-bottom: 35px;
}
div.menus-details div.single-item div.image {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
div.menus-details div.single-item div.image img {
    padding-right: 15px;
}
div.menus-details div.single-item p.item-title, div.menus-details div.single-item table thead {
  color: #984343;
  font-weight: bold;
  padding: 10px 15px 20px;
}
h3.title, div .description{
	color: #fff;
}


/* reviews page styles */

div.reviews-area div.single-review {
    border-bottom: 1px solid #984343;
    color: #984343;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
div.reviews-area div.single-review div.user-thumb {
    padding-right: 15px;
}
div.reviews-area div.single-review div.review-details div.title-price span p.title, div.reviews-area div.single-review div.review-details div.title-price span.stars {
    color: #fff;
}
div.reviews-area div.single-review div.review-details div.title-price span.publish-date {
    font-style: italic;
    padding-left: 15px;
}
div.reviews-area div.single-review div.review-details div.title-price span.review-details {
    display: block;
    margin-top: 15px;
}
form.review-form input.btn {
  margin-top: 15px;
}
div.reviews-area form span.captcha-img{
	color: #fff;
}

/* videos page styles */

div.videos-area div.single-video iframe {
    max-width: 100%;
}
div.videos-area div.single-video {
    margin-bottom: 19px;
}
div.videos-area div.single-video h4 {
    border-bottom: 1px solid;
    padding-bottom: 25px;
}


/* photos page styles */

div.photos-area div.single-photo {
  margin-bottom: 35px;
}


/* offers page styles */

div.offers-area {
  min-height: 360px;
}
div.offers-area div.single-offer {
    color: #ddd;
}
div.offers-area div.single-offer div.inner {
border: 1px solid #984343;
border-radius: 5px;
padding: 10px 15px;
}
div.offers-area div.single-offer p.title, div.offers-area div.single-offer li span {
    font-size: 16px;
    font-weight: bold;
}
div.offers-area div.single-offer p.title {
    margin-bottom: 3px;
}
div.offers-area div.single-offer ul li.price-info {
	margin-bottom: 10px;
}

