<div class="home-body">
   <div class="container" style="width:100%">
      <div class="left-sidebar text-left col-md-3">
         <h1><a class="color-pink text-shadow" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
         <ul id="nav">
             <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
             <?php 
                if ($this->restaurant->getShowPageReviews()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                }
                if ($this->restaurant->getShowPageVideos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                }
                if ($this->restaurant->getShowPagePhotos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                }
                if ($this->restaurant->getShowPageOffers()) {
                    echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                }
                if ($this->restaurant->getShowPageAbout()) {
                    echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                }
             ?>
          </ul>
         <div class="clearfix"></div>
          
          <div class="socials">
            <ul>
            	<li><a href=""><i class="fa fa-facebook"></i></a></li>
            	<li><a href=""><i class="fa fa-twitter"></i></a></li>
            	<li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
                    
          <div class="address">
            <p>
            <?php 
               $address = $this->restaurant->getAddress();  
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
               }
            ?>
            </p>
          </div>
      </div>

      <div class="col-md-9 menu-page-area color-fff text-center padding-0-0-25">
      <?php
           $page = $this->restaurant->getPage('about');
       ?>
       <?=($page->title ? '<h1>'.$page->title.'</h1>' : '');?>
       <?=($page->description ? $page->description : '');?>
   </div>
   </div>
</div>