<div class="home-body">
   <div class="container" style="width:100%">
       <div class="left-sidebar col-md-3">
          <h1><a class="color-pink text-shadow" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
          <h4 class=''><a href="tel:<?=$this->restaurant->getPhoneTakeaway();?>">
          	<?php echo $this->restaurant->getPhoneTakeaway(); ?>
          </h4>
          <ul id="nav">
             <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
             <?php 
                if ($this->restaurant->getShowPageReviews()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                }
                if ($this->restaurant->getShowPageVideos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                }
                if ($this->restaurant->getShowPagePhotos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                }
                if ($this->restaurant->getShowPageOffers()) {
                    echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                }
                if ($this->restaurant->getShowPageAbout()) {
                    echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                }
             ?>
          </ul>
          <div class="clearfix"></div>
          
          <div class="socials">
            <ul>
            	<li><a href="http://www.facebook.com/sharer.php?u=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-facebook"></i></a></li>
				<li><a href="http://twitter.com/share?text=<?=$this->restaurant->getName()?>&url=<?=$_SERVER['HTTP_HOST'];?>"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://plus.google.com/share?url=<?=$_SERVER['HTTP_HOST']?>"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          
          <div class="address">
            <p>
            <?php
               $address = $this->restaurant->getAddress();  
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
               }
            ?>
            </p>
          </div>
       </div>
       
       <div class="col-md-6">
          <div class="all_photos clearfix mid-content">
               <?php
                   $album = $this->restaurant->getDefaultPhotoAlbum();
                   $photos = $album->getPhotos();
                   foreach ( $photos->getItems() as $photo ) {
                      $height = rand(80,120);
                      echo "<a class='fancybox' rel='group' href='{$photo->getImageUrl()}'>";
                      echo "<img height='$height' src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}' /></a>";
                   }
                ?>
           </div>
           
		   <div class='clearfix mid-content color-pink'><?php echo $this->restaurant->getDescription(); ?></div>
		   
		   <div class='clearfix mid-content color-pink'>
		   <table class="table table-condensed no_border">
            <tr>
               <td>Day</td>
               <td>Lunch</td>
               <td>Dinner</td>
               <td>Delivery</td>
            </tr>
            <?php
               foreach ( $this->restaurant->getTimes()->getItems() as $time ) {
            ?>
            <tr>
               <td><?=($time->getDays() ? $time->getDays() : '')?></td>
               <td><?=($time->getLunchStart() ? $time->getLunchStart() : '')?> - 
               <?=($time->getLunchEnd() ? $time->getLunchEnd() : '')?></td>
               <td><?=($time->getDinerStart() ? $time->getDinerStart() : '')?> - 
               <?=($time->getDinerEnd() ? $time->getDinerEnd() : '')?>
               </td>
               <td><?=($time->getDeliveryStart() ? $time->getDeliveryStart() : '')?> - 
               <?=($time->getDeliveryEnd() ? $time->getDeliveryEnd() : '')?>
               </td>
            </tr>
            <?php } ?>
         </table>
		 </div>
       </div>
       
        <div class="right-sidebar col-md-3 color-fff text-center clearfix">
            <h3>Our Special Offers</h3>

            <?php
               $specialOffers = $this->restaurant->getOffers();
               echo $this->restaurant->getThemeViewHelpers()->printSpecialOffers($specialOffers, $this->restaurant);
            ?>
        </div>
   </div>
</div>
