<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <?php echo $this->headTitle() ?>
      <?php echo $this->headMeta();?>
      <?php echo $this->headScript();?>
	  <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl('favicon.ico');?>" />
	  <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/font-awesome.min.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/slicknav.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/normalize.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/bootstrap.min.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/vendor/css/jquery.fancybox.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme4/style.css');?>">
      <link rel="stylesheet" href="<?php echo $this->baseUrl('/tr/themes/ch/theme4/responsive.css');?>">
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/vendor/modernizr-2.6.2.min.js');?>"></script>
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <?php echo $this->headLink() ?>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div id='wrap'>
        <div id="main" class="container clear-top">
          <?php echo $this->layout()->content; ?>
        </div>
      </div>  
      <div class="footer-area">
        <div class="container footer padding-25-0" style="width:100%">
            <div class="copyright col-md-6 col-sm-6">
                <p><?=$this->restaurant->getWebsitePoweredByText();?><br/>
				<small><?=$this->restaurant->getSubUnsubLink();?></small>
				</p>
            </div>
            <div class="developer-info col-md-6 col-sm-6 text-right">
                <p>Designed & Developed By 
                    <a target='_blank' href='<?=$this->restaurant->getWebsiteFooterLink();?>'><?=$this->restaurant->getWebsiteFooterLinkText();?></a>
                </p>
            </div>
        </div>
      </div>
        
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="vendor/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="<?php echo $this->baseUrl('/tr/vendor/js/bootstrap.min.js');?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/plugins.js');?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/main.js');?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/vendor/js/jquery.fancybox.pack.js')?>"></script>
      <script src="<?php echo $this->baseUrl('/tr/themes/ch/theme4/theme.js');?>"></script> 
   </body>
</html>
