<div class="home-body">
   <div class="container" style="width:100%">
       <div class="left-sidebar text-left col-md-3">
            <h1><a class="color-pink text-shadow" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
            <ul id="nav">
             <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
             <?php 
                if ($this->restaurant->getShowPageReviews()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                }
                if ($this->restaurant->getShowPageVideos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                }
                if ($this->restaurant->getShowPagePhotos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                }
                if ($this->restaurant->getShowPageOffers()) {
                    echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                }
                if ($this->restaurant->getShowPageAbout()) {
                    echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                }
             ?>
          </ul>
          <div class="clearfix"></div>
          
          <div class="socials">
            <ul>
            	<li><a href=""><i class="fa fa-facebook"></i></a></li>
            	<li><a href=""><i class="fa fa-twitter"></i></a></li>
            	<li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
                    
          <div class="address">
            <p>
            <?php 
               $address = $this->restaurant->getAddress();  
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
               }
            ?>
            </p>
          </div>
       </div>
       
       <!-- changes -->
       <div class="col-md-9 menu-page-area text-center">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<?php 
				$currency = $this->restaurant->getCurrencySymbol();
				$spiceLevel = $this->restaurant->getThemeViewHelpers()->spiceLevel($this->restaurant);
				$recommendButton = $this->restaurant->getThemeViewHelpers()->recommendButton($this->user);
				$menu = $this->restaurant->getMenu();
				$id = 0;
				$categories = $menu->getNormalCategories();

				if (!empty($categories)) {                     
					foreach($categories->getItems() as $category) {
						$id++; 
					?>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading<?=$id;?>">
							<h4 class="panel-title">
							<a <?=( $id != 1 ? 'class="collapsed"' : '');?> data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$id;?>" aria-expanded="<?=( $id == 1 ? 'true' : 'false');?>" aria-controls="collapse<?=$id;?>">
							<?=$category->getName();?>
							</a>
							</h4>
						</div>
						<div id="collapse<?=$id;?>" class="panel-collapse collapse<?=( $id == 1 ? ' in' : '');?>" role="tabpanel" aria-labelledby="heading<?=$id;?>">
							<div class="panel-body">
								<?php $categoryImageUrl = ($category->getImage() ? 
										$category->getImage()->getThumbnailUrl() : $this->baseUrl('/tr/themes/ch/theme1/img/fastfood.png')
									);
								?>
								<img src="<?=$categoryImageUrl?>" alt="Category image" title="<?=$category->getName();?>"/>
								<p class="text-justify hidden-xs"><?=$category->getDescription();?></p>
								<?php
								echo "<ul class='list-group'>";
									foreach($category->getFoodItems()->getItems() as $foodItem) {
										echo "<li class='list-group-item' itemscope itemtype='http://schema.org/Product'>";
										echo "<meta itemprop='brand' content='{$category->getName()}' />";
										echo "<span itemprop='name'><b>{$foodItem->getName()}</b></span> - ";
										echo "<span itemprop='offers' itemscope itemtype='http://schema.org/Offer'>";
											echo "<meta itemprop='priceCurrency' content='{$this->restaurant->getWebsiteCurrency()}' />";
											echo "<b>{$currency}</b><span itemprop='price'><b>{$foodItem->getPrice()}</b></span> ";
											echo "{$recommendButton->printButton($foodItem)}";
										echo "</span>";
										echo "&ensp;".$spiceLevel->printImage($foodItem);
										if ($foodItem->getDescription()) {
											echo "<p itemprop='description' class='text-info'>{$foodItem->getDescription()}</p>";
										}
										echo "</li>";
									}
								echo "</ul>";
								?>
							</div>
						</div>
					</div>

				<?php } 
				}else{
				 echo $this->restaurant->getThemeViewHelpers()->alertInfo('No published menu category found.');
				}

				$categories = $menu->getClassicCategories();
				if (!empty($categories)) {
					$content = '';
					foreach($categories->getItems() as $category) { ?>
				
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseClassic" aria-expanded="false" aria-controls="collapseClassic">
								<?=$category->getName();?>
							</a>
							</h4>
						</div>
						<div id="collapseClassic" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<?php
									$content .= "<table class='table table-bordered '>";
									$content .= "<thead><tr><th>Item</th><th>Chi/Lmb</th>";
									if($category->getShowChickenLambTikkaPrice()) $content .= "<th>Chi/Lmb Tikka</th>";
									if($category->getShowLambPrice()) $content .= "<th>Lamb</th>";
									if($category->getShowBeefPrice()) $content .= "<th>Beef</th>";
									if($category->getShowDuckPrice()) $content .= "<th>Duck</th>";
									if($category->getShowPrawnPrice()) $content .= "<th>Prawn</th>";
									if($category->getShowKingPrawnPrice()) $content .= "<th>King Prawn</th>";
									if($category->getShowVegetablePrice()) $content .= "<th>Vegetable</th>";
									if($category->getShowMixedPrice()) $content .= "<th>Mixed</th>";
									$content .= "</tr></thead>";
									$content .= "<tbody>";

									foreach($category->getFoodItems()->getItems() as $item) {
										$content .= "<tr>";
										//$level = \Ezy\Ezy::getSpiceLevelName($item->getSpiceLevel());                    
										$content .= "<td><b>{$item->getName()} </b> &ensp;{$spiceLevel->printImage($item)} <br/><p class='text-info'>{$item->getDescription()}</p></td>";
										$content .= "<td>{$currency}{$item->getPrice()}</td>";

										$content .= ($category->getShowChickenLambTikkaPrice()
										?  "<td>{$currency}{$item->getPriceChickenLambTikka()}</td>" : "");
										$content .= ($category->getShowLambPrice()
										?  "<td>{$currency}{$item->getPriceLamb()}</td>" : "");
										$content .= ($category->getShowBeefPrice()
										?  "<td>{$currency}{$item->getPriceBeef()}</td>" : "");
										$content .= ($category->getShowDuckPrice()
										?  "<td>{$currency}{$item->getPriceDuck()}</td>" : "");
										$content .= ($category->getShowPrawnPrice()
										?  "<td>{$currency}{$item->getPricePrawn()}</td>" : "");
										$content .= ($category->getShowKingPrawnPrice()
										?  "<td>{$currency}{$item->getPriceKingPrawn()}</td>" : "");
										$content .= ($category->getShowVegetablePrice()
										?  "<td>{$currency}{$item->getPriceVegetable()}</td>" : "");
										$content .= ($category->getShowMixedPrice()
										?  "<td>{$currency}{$item->getPriceMixed()}</td>" : "");
										$content .= "</tr>";
									}

									$content .= "</tbody></table>";
									echo $content;
								?>

							</div>
						</div>
					</div>
				<?php } ?>                    
			<?php } ?>
			</div>
       </div>
    </div>   
</div>