<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
   <h1 class="logo"><a class="navmenu-brand" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
   <ul class="nav navmenu-nav">      
      <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
      <?php 
         if ($this->restaurant->getShowPageReviews()) {
             echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
         }
         if ($this->restaurant->getShowPageVideos()) {
             echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
         }
         if ($this->restaurant->getShowPagePhotos()) {
             echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
         }
         if ($this->restaurant->getShowPageOffers()) {
             echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
         }
         if ($this->restaurant->getShowPageAbout()) {
             echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
         }
      ?>
   </ul>
</div>

<div class="navbar navbar-default navbar-fixed-top">
   <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
   </button>
</div>

<div class="menu-page-area">
   <div class="col-md-6 col-md-offset-3 menu-page videos-page color-fff padding-0-15-25">
      <?php
         $sPhotos = null;
         $albums = $this->restaurant->getAlbums();
         $page = $this->restaurant->getPage('photos');
      ?>
      <?=($page->getTitle() ? '<h2 class="hidden-xs text-center text-shadow padding-0-0-25 margin-15-auto-0">'.$page->getTitle().'</h2>' : '');?>
      <?=($page->getDescription() ? '<h4 class="hidden-xs">'.$page->getDescription().'</h4>' : '');?>
      <div class="all_videos all_photos clearfix">
           <div>
           <?php
           if ( !$albums->getTotal() ) {
               echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
           }else{
               foreach ($albums->getItems() as $album ) { 
                   $albumTitle = $album->getTitle();
                   $albumDesc = $album->getDescription();
                   $albumThumbUrl = $album->getThumbnailUrl();                        
                   $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));
                   
                   echo "<div class='sng_photo col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center'>";
                       echo "<a href='$albumSlideshowUrl' title='$albumTitle'>";
                           echo "<img height='200' src='$albumThumbUrl' class='img-responsive img-thumbnail' alt='$albumTitle'>";
                           echo "<div>$albumTitle</div>";
                       echo "</a>";
                   echo "</div>";
                   
                   echo "<br/>";
                   
                   if (isset($_GET['album_id']) && $album->getId() == $_GET['album_id']) {
                       foreach($album->getPhotos()->getItems() as $photo) {                                
                           $sPhotos .= "<a href='{$photo->getImageUrl()}' title='{$photo->getCaption()}' data-gallery>";
                               $sPhotos .= "<img src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
                           $sPhotos .= "</a>";
                       }
                   }
                }
            } ?>
         </div>
       </div>
       
       <div id='links'>
         <?php echo $sPhotos; ?>
       </div>
       
       <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
       <div id="blueimp-gallery" class="blueimp-gallery">
           <!-- The container for the modal slides -->
           <div class="slides"></div>
           <!-- Controls for the borderless lightbox -->
           <h3 class="title"></h3>
           <a class="prev">‹</a>
           <a class="next">›</a>
           <a class="close">×</a>
           <a class="play-pause"></a>
           <ol class="indicator"></ol>
           <!-- The modal dialog, which will be used to wrap the lightbox content -->
           <div class="modal fade">
              <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                       <button type="button" class="close" aria-hidden="true">&times;</button>
                       <h4 class="modal-title color-333"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-default pull-left prev">
                          <i class="glyphicon glyphicon-chevron-left"></i>
                          Previous
                       </button>
                       <button type="button" class="btn btn-primary next">
                          Next
                          <i class="glyphicon glyphicon-chevron-right"></i>
                       </button>
                    </div>
                 </div>
              </div>
           </div>
       </div>
   </div>
</div>