<div class="home-body">
   <div class="container" style="width:100%">
      <div class="left-sidebar text-left col-md-3">
         <h1><a class="color-pink text-shadow" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
         <ul id="nav">
             <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
             <?php 
                if ($this->restaurant->getShowPageReviews()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                }
                if ($this->restaurant->getShowPageVideos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                }
                if ($this->restaurant->getShowPagePhotos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                }
                if ($this->restaurant->getShowPageOffers()) {
                    echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                }
                if ($this->restaurant->getShowPageAbout()) {
                    echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                }
             ?>
          </ul>
         <div class="clearfix"></div>
          
          <div class="socials">
            <ul>
            	<li><a href=""><i class="fa fa-facebook"></i></a></li>
            	<li><a href=""><i class="fa fa-twitter"></i></a></li>
            	<li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
                    
          <div class="address">
            <p>
            <?php 
               $address = $this->restaurant->getAddress();  
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
               }
            ?>
            </p>
          </div>
      </div>

      <div class="col-md-9 menu-page-area color-fff text-center">
      <?php
         $sPhotos = null;
         $albums = $this->restaurant->getAlbums();
         $page = $this->restaurant->getPage('photos');
      ?>
      <?=($page->getTitle() ? '<h2 class="hidden-xs text-center text-shadow padding-0-0-25 margin-15-auto-0">'.$page->getTitle().'</h2>' : '');?>
      <?=($page->getDescription() ? '<h4 class="hidden-xs">'.$page->getDescription().'</h4>' : '');?>
      <div class="all_videos all_photos clearfix">
           <div>
           <?php
           if ( !$albums->getTotal() ) {
               echo $this->restaurant->getThemeViewHelpers()->alert('No published photo albums found.', 'alert alert-info');
           }else{
               foreach ($albums->getItems() as $album ) { 
                   $albumTitle = $album->getTitle();
                   $albumDesc = $album->getDescription();
                   $albumThumbUrl = $album->getThumbnailUrl();                        
                   $albumSlideshowUrl = $this->restaurant->getUrl('photos', 'index', array('album_id' => $album->getId()));

                    echo "<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center'>";
                    foreach($album->getPhotos()->getItems() as $photo) {                                
                        $sPhotos .= "<a class='fancybox' rel='group' href='{$photo->getImageUrl()}' title='{$photo->getCaption()}'>";
                            $sPhotos .= "<img class='sng_photo' src='{$photo->getThumbnailUrl()}' alt='{$photo->getCaption()}'/>";
                        $sPhotos .= "</a>";
                    }
                    echo "</div>";
                }
            } ?>
         </div>
       </div>
		   
		   <div id='links'>
			 <?php echo $sPhotos; ?>
		   </div>
       </div>
   </div>
</div>