@media only screen and (min-width: 992px) and (max-width: 1199px) {


}



@media only screen and (min-width: 768px) and (max-width: 991px) {

div.left-sidebar{
   text-align: center;
   min-height: auto;
}
div.mid-content {
margin-bottom: 50px;
padding-top: 0;
}

}





@media only screen and (max-width: 767px) {
.slicknav_menu{
	display: block;
}
div.menubar {
  display: none;
}
div.sng_off_out:nth-child(2n) {
  border-right: none;
}

div.left-sidebar{
   text-align: center;
   min-height: auto;
}
div.mid-content {
margin-bottom: 50px;
padding-top: 0;
}
div.footer p{
text-align: center;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px) {



}


@media only screen and (max-width: 479px) {


}


