<div class="home-body">
   <div class="container" style="width:100%">
      <div class="left-sidebar text-left col-md-3">
		 <h1><a class="color-pink text-shadow" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
         <ul id="nav">
             <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
             <?php 
                if ($this->restaurant->getShowPageReviews()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                }
                if ($this->restaurant->getShowPageVideos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                }
                if ($this->restaurant->getShowPagePhotos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                }
                if ($this->restaurant->getShowPageOffers()) {
                    echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                }
                if ($this->restaurant->getShowPageAbout()) {
                    echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                }
             ?>
          </ul>
         <div class="clearfix"></div>
          
          <div class="socials">
            <ul>
            	<li><a href=""><i class="fa fa-facebook"></i></a></li>
            	<li><a href=""><i class="fa fa-twitter"></i></a></li>
            	<li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
                    
          <div class="address">
            <p>
            <?php 
               $address = $this->restaurant->getAddress();  
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
               }
            ?>
            </p>
          </div>
      </div>

      <div class="col-md-9 menu-page-area color-fff text-center padding-25-0">
      <?php
        $page = $this->restaurant->getPage('reviews');
        echo ($page->title ? '<h1 class="hidden-xs padding-25-0 text-shadow text-center">'.$page->title.'</h1>' : null);
        echo ($page->description ? '<p class="hidden-xs text-muted">'.$page->description.'</p>' : null);
      ?>
      <div class="reviews padding-25-0">
       <?php	
           $reviews = $this->restaurant->getReviews();
           if ( !$reviews->getTotal() ) {
            echo $this->restaurant->getThemeViewHelpers()->alert('No published review found.', 'alert alert-info');
           }else{
               foreach ( $reviews->getItems() as $review ) {
                   echo '<div class="sing_rev padding-0-0-15" itemscope itemtype="http://schema.org/Product">';
                       echo "<meta itemprop='name' content='{$this->restaurant->getName()}'/>";
                       echo "<span itemprop='review' itemscope itemtype='http://schema.org/Review'>";
								echo "<h4 class='color-fff'>";
								echo "<span class='rvw_name'>";
                           echo "<b><span itemprop='author' itemscope itemtype='http://schema.org/Person'>";
                           echo "<span itemprop='name'>{$review->getCustomer()->getName()}</span>";
                           echo "</span></b>";
                       echo "</span><small class='color-fff' itemprop='datePublished'> On {$review->getTs('d F Y')}</small>";
                       echo "</h4>";
                       
                       echo "<h6>";                            
                       echo "<span class='stars' itemprop='reviewRating' itemscope itemtype='http://schema.org/Rating'>";
									$count_review = $review->getRating();
									echo '<meta itemprop="ratingValue" content="'.$count_review.'"/>';
									echo '<meta itemprop="bestRating" content="5"/>';
                           for($i=1; $i <= 5; $i++){
                               $classes = "fa fa-star-o";
                               if($i <= $count_review) {
                                   $classes = "fa fa-star";
                               }
                               echo "<i class='$classes'></i>";
                           }
                       echo "</span>";
                       
                       echo "<span>";
                       echo "&ensp;<span>{$review->getRating()}</span> ";
                       echo "out of <span>5</span>";
                       echo "</span> ";
                       echo "</h6>";
                       echo "<p class='rvw_name' itemprop='reviewBody'>{$review->getText()}</p>";
                   echo "</div>";
               }
                                       
               echo $this->restaurant->getThemeViewHelpers()->pagination($reviews);
           }
           
       ?>                   
        
     <div class="give_rev col-md-6 col-md-offset-3 padding-0-0-25 color-pink">
        <?php 
             $form = $this->reviewForm();
             echo $form->getHtml();
         ?>
     </div>
     </div>
    </div>
   </div>
</div>