<div class="home-body">
   <div class="container" style="width:100%">
      <div class="left-sidebar text-left col-md-3">
         <h1><a class="color-pink text-shadow" href="<?=$this->restaurant->getUrl('home')?>"><?=$this->restaurant->getName()?></a></h1>
         <ul id="nav">
             <li><a href="<?=$this->restaurant->getUrl('menu')?>">Menu</a></li>
             <?php 
                if ($this->restaurant->getShowPageReviews()) {
                    echo "<li><a href='{$this->restaurant->getUrl('reviews')}'>Reviews</a>";
                }
                if ($this->restaurant->getShowPageVideos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('videos')}'>Videos</a>";
                }
                if ($this->restaurant->getShowPagePhotos()) {
                    echo "<li><a href='{$this->restaurant->getUrl('photos')}'>Photos</a>";
                }
                if ($this->restaurant->getShowPageOffers()) {
                    echo "<li><a href='{$this->restaurant->getUrl('offers')}'>Offers</a>";
                }
                if ($this->restaurant->getShowPageAbout()) {
                    echo "<li><a href='{$this->restaurant->getUrl('about')}'>About</a>";
                }
             ?>
          </ul>
         <div class="clearfix"></div>
          
          <div class="socials">
            <ul>
            	<li><a href=""><i class="fa fa-facebook"></i></a></li>
            	<li><a href=""><i class="fa fa-twitter"></i></a></li>
            	<li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
                    
          <div class="address">
            <p>
            <?php 
               $address = $this->restaurant->getAddress();  
               if ( $address->getCountry() ) {
                  echo $this->restaurant->getThemeViewHelpers()->prettyPrintAddressInOneLine($this->restaurant->getAddress());
               }else{
                  echo $this->restaurant->getThemeViewHelpers()->alert('Sorry no address provided.');
               }
            ?>
            </p>
          </div>
      </div>

      <div class="col-md-9 menu-page-area color-fff text-center">
      <?php
         $videoPlayer = null;
         $videos = $this->restaurant->getVideos();
         $page = $this->restaurant->getPage('videos');
       ?>
      <?=($page->title ? '<h2 class="hidden-xs text-center text-shadow padding-0-0-25 margin-15-auto-0">'.$page->title.'</h2>' : '');?>
      <?=($page->description ? '<h4 class="hidden-xs">'.$page->description.'</h4>' : '');?>
      <div class="clearfix">                    
         <?php 
            if ( !$videos->getTotal() ) {
               echo $this->restaurant->getThemeViewHelpers()->alert('No published videos found.', 'alert alert-info');
            }else{
            foreach($videos->getItems() as $video) {
              echo '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sing_vid text-center" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">';
              echo "<h5 itemprop='name'>{$video->getTitle()}</h5>";
              $videoUrl = $this->restaurant->getUrl('videos', 'index', array('video_id' => $video->getId()));
              echo "<a href='$videoUrl' >{$video->getThumbnail()}</a>";
              echo "<meta itemprop='thumbnailUrl' content='{$video->getThumbnailUrl()}'/>";
              echo "<span itemprop='description'/>{$video->getDescription()}</span>";
              echo "<meta itemprop='contentURL' content='{$videoUrl}'/>";
              echo '</div>';
           
               if (isset($_GET['video_id']) && $video->getId() == $_GET['video_id']) {
                  $videoPlayer = $video->getYoutubePlayer(array('width'=> '700px'));
              }
 
            } 
            }
         ?>                                           
      </div>
      
      <div class='margin-15-auto-0'>
          <?php echo $videoPlayer; ?>
      </div>
      </div>
   </div>
</div>